<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
          <div class="row w-100 justify-content-between">
            <div class="col-12 col-lg-11">
              <p class="py-3 text-color-primary pointer">
                <span (click)="navigateTo('/')">Home</span> /
                <span>About Us</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-11 text-center">
      <h1 class="about-text">About Us</h1>
    </div>
    <div class="col-11 mt-5">
        <p class="mb-2">
            "Born in 2024, in the iconic city of Mumbai, we set on an adventure to bring some of India’s finest fashion sensibilities under one roof. 
          </p>
          <p class="mb-2">
            What started off as a passion project, soon turned into a vision, and we decided it was time to intentionally seek out and bring to all of you a blend of timeless classics, and a collection of unconventional designs. The Peacock Collective is our endeavor to reminisce, reinvent and rethink Indian fashion, while proudly supporting Indian artisans and karigars who partner with us in this journey. Staying true to our brand name, we house a collection of vibrant designs, colors and patterns that exude tones of Indian maximalism, as well as, bring under the same roof, our wide range of minimalist designs that find their way into your everyday wardrobe.
          </p>
          <p class="mb-2">
            We are two sisters, who stepped into the world of fashion, constantly asking ourselves one very important question - How do we cut through the noise? The answer was simple. We want to build a brand that disrupts, challenges norms, and solves problems. We want to build a brand that makes the outfit work for you, and not the other way round. A brand that almost always reminds you of India, our fashion sensibilities, the richness of our fabrics, the handwork, and the bling! 
          </p>
          <p class="mb-2">
            When you drape our saree, it should bring to you the whole nine yards worth of joy that comes from draping a luxurious fabric, and at the same time, having a blouse that fits well, is in vogue, and makes you feel your beautiful self each time you put it on. 
          </p>
          <p class="mb-2">
            Our love story with Indian fabrics and fashion started with the first saree we borrowed from our mothers’ wardrobes, gently placing all the cloves aside to be reused again, and barely managing to drape it. 
            Our love matured, when we designed our first ever lehenga, paired it with a custom blouse we created from scratch and completed the look with an organza dupatta that was hand-embroidered by our karigars. 
          </p>
          <p class="mb-2">
            This love continues to grow as we share it with you. We are Proudly Made in India."
          </p>
          <h6 class="signature text-end">Sukanya & Kalyani</h6>
    </div>
  </div>
</div>
