*{
    padding: 0;
    margin: 0;
}
.sort-select {
    background-color: #f8f8f8;
    padding: 0.5rem 1.2rem;
    border: none;
  }
  .size-select {
    background-color: #f8f8f8;
    padding: 0.8rem;
    border: none;
  }
  .card {
    &:hover {
      transform: scale(1.02);
      transition: transform 0.5s;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .img-box {
      height: 90%;
    }
    .text-box {
      height: 10%;
    }
  }
  .background-solid {
    background-color: #ffebdc;
    p {
      color: #85502b;
      font-weight: 300;
    }
  }