<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <p class="py-3 text-color-primary pointer">
        <span (click)="navigateTo('/')">Home</span> / Terms & Conditions
      </p>
    </div>
    <div class="col-11">
      <h1 class="py-4">Terms & Conditions</h1>
    </div>
    <div class="col-11">
      <p class="fw-bold mb-4">
        These terms and conditions may change. <br> Last Updated August 1, 2024.
      </p>
      <p>
        We reserve the right to update these terms at any time without prior notice. Your use of thepeacockcollective.in following any changes constitutes your agreement to the updated terms. Please review these terms regularly.
      </p>
      <p class="mb-4">
        We reserve the right to decline our “Bespoke - By, You” services based on client conduct and communication. We have worked hard to create a community and workplace that is safe and where our teams feel valued. Any misconduct, misbehavior or disrespectful language towards our representatives or team members will not be tolerated.
      </p>
      <h5 class="fw-bold">Limitations of Liability</h5>
      <p class="mb-4">
        The Peacock Collective is not liable for any damages to your computer or other property resulting from your use of this website. We are not liable for any indirect, special, punitive, incidental, or consequential damages arising from the use of this website.
      </p>
      <h5 class="fw-bold">Copyright and Trademark</h5>
      <p class="mb-4">
        Material on this website is subject to our copyright and trademark rights and may not be used without our consent.
      </p>
      <h5 class="fw-bold">Products, Content and Specifications</h5>
      <p class="mb-4">
        Product details and prices are subject to change without notice. We strive for accuracy but cannot guarantee the display of colors on your computer.
      </p>
      <h5 class="fw-bold">Shipping Limitations</h5>
      <p class="mb-4">
        Items are shipped to addresses compliant with our shipping restrictions. Risk of loss passes to you upon delivery to the carrier.
      </p>
      <h5 class="fw-bold">Duties and Taxes</h5>
      <p class="mb-4">
        You are responsible for duties and taxes for shipments outside India.
      </p>
      <h5 class="fw-bold">Your Account</h5>
      <p class="">
        You must maintain the confidentiality of your account information. We reserve the right to refuse service, terminate accounts, or cancel orders.
      </p>
      <p class="mb-4">
        By placing an order, you confirm you are over 18 and provide accurate information.
      </p>
    </div>
  </div>
</div>
