<div class="container-fluid collection-page">
  <div class="row justify-content-center justify-content-md-end align-items-center">
    <div class="col-11 col-md-5 col-lg-3 content-box">
      <div class="content">
        <p class="title">New Collection</p>
        <h1>Autumn Winter 2021</h1>
        <p class="description">
          Vivamus vel quam in urna convallis bibendum id ac ante. Aliquam
          ultrices nisl vitae tellus tempor faucibus. Mauris eleifend metus a
          facilisis interdum. Sed lorem urna, egestas at dui et, fringilla
          condimentum ex.
        </p>
        <div class="btn-box">
          <button class="btn bg-dark text-light rounded-0">Learn More</button>
        </div>
      </div>
    </div>
    <div class="col-11 col-md-5 col-lg-7 video-box">
      <video loop [autoplay]="true" [muted]="true" [playsInline]="true">
        <source
          src="../../../../../assets/videos/collection.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</div>
