<div class="container-fluid collection-page">
  <div class="row justify-content-center justify-content-md-end align-items-center">
    <div class="col-11 col-md-5 col-lg-3 content-box">
      <div class="content">
        <p class="title">New Collection</p>
        <h1>New Heritage Collection</h1>
        <p class="description">
          “Our collection of timeless silks and rich fabrics, interwoven with
          intricate zari, and enhanced with stones, sequins and rich handwork,
          form this ethereal collection. Every bride’s wardrobe must haves, that
          commemorate and celebrate new beginnings, and weave a love story like
          no other.”
        </p>
        <div class="btn-box">
          <button class="btn bg-dark text-light rounded-0">The Peacock Collective</button>
        </div>
      </div>
    </div>
    <div class="col-11 col-md-5 col-lg-7 video-box">
      <video loop [autoplay]="true" [muted]="true" [playsInline]="true">
        <source src="../../../../../assets/videos/collection.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>