<div class="card form-card">
  <div class="card-header">
    <div class="card-header-items">
      <div>{{ categoryId ? "Update" : "Create" }} Category</div>
      <div>
        <a class="back-btn btn btn-primary" (click)="back()">
          <i class="ti ti-arrow-left me-1"></i> Back</a>
      </div>
    </div>
  </div>
  <div class="card-body justify-content-center">
    <form [formGroup]="categoryForm">
      <div class="row">
        <div class="col-md-4 mb-2">
          <label class="form-label">
            Name
            <span class="text-danger">*</span></label>
          <input formControlName="name" placeholder="name" type="text" class="form-control" />
          <div></div>
        </div>
        <div class="col-md-4 mb-2">
          <label class="form-label">Parent Category </label>
          <select formControlName="parentId" class="form-select">
            <option selected disabled value="">Select Parent Category</option>
            <option [value]="null">None</option>
            <option *ngFor="let opt of parentIdArr" [value]="opt.id">
              {{ opt.name }}
            </option>
          </select>
        </div>

        <div class="col-md-4 mb-2">
          <label class="form-label">
            Status
            <span class="text-danger">*</span></label>
          <select formControlName="status" class="form-control">
            <option selected disabled value="">Select Status</option>
            <option value="active">Active</option>
            <option value="inactive">InActive</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-2">
          <label class="form-label">
            Description
          </label>
          <textarea class="form-control" formControlName="description" placeholder="Description"
            id="exampleFormControlTextarea1" rows="3"></textarea>
          <div></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <label class="form-label me-2">
            Image
          </label>
       
          <div style="display: inline-block">
            <input [multiple]="false" type="file" id="file" name="file" (change)="fileChosen($event)" />
          </div>
        </div>
      </div>
      <div *ngIf="this.url">
        <img class="catagory-img" [src]="url" alt="image">
      </div>
      <hr />
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <button (click)="reset()" type="submit"
              class="btn px-5 btn-primary mx-2 shadow rounded rounded-3 d-flex align-items-center">
              <i class="fa-solid fa-arrows-rotate me-2"></i>
              Reset
            </button>
            <button type="submit" [class]="categoryId ? 'btn-warning' : 'btn-success'"
              class="btn px-5 btn-success shadow rounded rounded-3 mx-2 d-flex align-items-center" (click)="submit()">
              <i [class]="categoryId ? 'fa-pen-to-square' : 'fa-plus'" class="fa-solid me-2"></i>
              {{ categoryId ? "Update" : "Create" }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>