@import "bootstrap/scss/bootstrap";
@import "./themes/variable";
@import "./themes/custom";
@import "ngx-toastr/toastr";
@import "~bs-stepper/dist/css/bs-stepper.min.css";
@font-face {
  font-family: "Buffalo";
  src: url("assets/font/Buffalo/Buffalo.otf") format("opentype"),
    url("assets/font/Buffalo/Buffalo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brittany";
  src: url("assets/font/brittany/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Reynor";
  src: url("assets/font/reynor/Reynor\ -\ Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mokoto";
  src: url("assets/font/mokoto/Mokoto\ Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ravensara";
  src: url("assets/font/ravensara/RavensaraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yessica";
  src: url("assets/font/yessica/Yessica-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  // font-family: "Cormorant Garamond", serif;
  // font-family: "Barlow", sans-serif;
  font-family: "Forum", serif ; 
}
::-webkit-scrollbar {
  width: 2px;
  border: 1px solid #ffffff;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  height: 200px;
  background: #000;
  border-radius: 0;
  outline: 5px solid #000;
}
.light-blue-backdrop {
  background: #5cb3fd;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
