@import "bootstrap/scss/bootstrap";
@import "./themes/variable";
@import "./themes/custom";
@import url('https://fonts.cdnfonts.com/css/geometric-sans-serif-v1');

* {
  // font-family: "Cormorant Garamond", serif;
  font-family: 'Geometric Sans Serif v1', sans-serif;
}
::-webkit-scrollbar {
  width: 2px;
  border: 1px solid #ffffff;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  height: 200px;
  background: #000;
  border-radius: 0;
  outline: 5px solid #000;
}
.light-blue-backdrop{
  background: #5cb3fd;
}