
<div class="card-container">
    <div class="card">
        <div class="card-details">
            <div class="d-flex justify-content-between">
                <i class="fa-solid text-light fa-house"></i>
                <img width="100"src="../../../../../assets/images/stripe-logo.png" alt="">
            </div>
            <div class="card-number" id="card-element">
                <!-- Stripe Card Element will be inserted here -->
            </div>
            <!-- <div class="card-name">
                Card Holder Name
            </div>
            <div class="card-expiry">
                MM/YY
            </div> -->
        </div>
        <!-- <img src="your-card-logo.png" alt="Card Logo" class="card-logo"> -->
    </div>
</div>
<button type="submit" class="btn btn-dark py-3 mt-3" (click)="pay()">Submit Payment</button>