*{
    padding: 0;
    margin: 0;
}
.fa-square{
    width: 20px;
    height: 20px;
    &::before{
      content: '';
    }
  }
  .attr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }