<div class="container-fluid pt-5 pb-4 footer">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="row justify-content-between">
        <div
          class="col-6 col-md-6 col-lg-3"
        >
          <h3 class="mb-2 head-color">The Peacock Collective</h3>
          <!-- Peacock info -->
          <div class="d-flex flex-column mb-2">
            <p class="mb-1 p-0 cursor">
              <a [href]="'mailto:' + data.email" target="_blank">{{
                data.email
              }}</a>
            </p>
            <p class="mb-1 p-0 cursor">
              <a href="" target="_blank"> Instagram </a>
            </p>
            <p class="cursor" (click)="navigateTo('about-us')">
              <span> About Us</span>
            </p>
          </div>
        </div>
        <div
          class="col-6 col-md-6 col-lg-3 d-flex flex-column align-items-center"
        >
          <!-- Peacock info -->
          <div class="d-flex flex-column">
            <p class="mb-2 p-0 cursor">
              <span>Customer Reviews</span>
            </p>
            <p class="mb-2 p-0 cursor">
              <span (click)="navigateTo('/info/terms-condition')"
                >Terms & Conditions</span
              >
            </p>
            <p class="mb-2 p-0 cursor">
              <span (click)="navigateTo('/info/return-exchange')"
                >Returns & Exchanges</span
              >
            </p>
            <p class="mb-2 p-0 cursor">
              <span (click)="navigateTo('/info/delivery')"
                >Shipping & Delivery</span
              >
            </p>
          </div>
        </div>
        <div
          class="col-6 col-md-6 col-lg-3 box-3"
        >
          <!-- Peacock info -->
          <div class="d-flex flex-column">
            <p class="mb-2 p-0 cursor">
              <span (click)="navigateTo('/auth/login')">My Account</span>
            </p>
            <p class="mb-2 p-0 cursor">
              <span (click)="navigateTo('/contact')">Contact Us</span>
            </p>
            <p class="mb-2 p-0 cursor">
              <span (click)="navigateTo('/bespoke')"> Bespoke - By, You</span>
            </p>
            <p class="mb-2 p-0 cursor">
              <span>Stay in Touch</span>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 box-4">
          <p class="follow-text">Join my Newsletter</p>
        
            <div class="input-wrapper">
              <input
                type="text"
                placeholder="Your email address"
                [(ngModel)]="email"
              />
              <i
                class="fa-solid cursor fa-arrow-right p-3"
                (click)="submit()"
              ></i>
            </div>
          
        </div>
        <div class="col-12 py-3">
          <p>&copy; 2024 peacock collective</p>
        </div>
      </div>
    </div>
  </div>
</div>
