<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <p class="py-3 text-color-primary pointer">
        <span (click)="navigateTo('/')">Home</span> / Shipping & Delivery
      </p>
    </div>
    <div class="col-11">
      <h1 class="py-4">Shipping & Delivery</h1>
    </div>
    <div class="col-11">
      <h5 class="fw-bold mb-2">Shipping & Delivery Policy</h5>
      <p class="mb-2">
        We ship domestically within India via DTDC & Bluedart, and
        internationally via DHL, FedEx, and Aramex. Since we have limited stock
        and operations in Canada, we ship within Canada using Canada Post.
      </p>
      <p class="mb-3">
        Shipping rates will be automatically calculated on the website upon
        placing your order.
      </p>
      <h5 class="fw-bold mb-2">Order Status & Tracking</h5>
      <p class="mb-2">
        After placing your order, you will receive an email confirmation. For
        customized orders, the process with my karigars (craftsmen) involves
        purchasing raw materials and providing them with your order details,
        which takes approximately 3 – 4 weeks for product creation. Our team
        conducts a thorough quality check before dispatch.
      </p>
      <p class="mb-2">
        Once your order is shipped, you will receive an email confirmation with
        the tracking number. You can track the delivery status with our
        logistics partners.
      </p>
      <p class="mb-3 ">
        For expedited delivery requests, kindly email me at
        sukanya&#64;peacockcollective.in, and I will do my best to accommodate.
      </p>
      <h5 class="fw-bold mb-2">Taxes, Duties & Tariffs</h5>
      <p class="mb-3">
        For international orders, you are responsible for paying all import
        taxes, duties, and tariffs as per your country’s laws to clear customs.
        We strive to include these charges at checkout, but this may not always
        be feasible. Please review your cart for a breakdown of applicable
        taxes, duties, and charges.
      </p>
      <h5 class="fw-bold mb-2">Mode of Payments</h5>
      <p class="mb-2">
        We accept payments via most Indian and International credit and debit
        cards. Indian customers can also use NetBanking.
      </p>
      <p class="mb-2">
        Due to challenges with Indian payment gateways processing international
        transactions, success rates can be low. If you encounter issues, please
        email me at sukanya&#64;peacockcollective.in, and I can provide my bank
        details for alternative payment options.
      </p>
      <p class="mb-3">
        Since we are fairly new in these operations, we truly appreciate your
        patience as we work towards streamlining our processes.
      </p>
    </div>
  </div>
</div>
