<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <p class="py-3 text-color-primary pointer">
        <span (click)="navigateTo('/')">Home</span> / {{ data.name }}
      </p>
    </div>
    <div class="col-11">
      <h1 class="py-4">{{ data.name }}</h1>
    </div>
    <div class="col-11">
      <h5 class="mb-2">{{ data.title }}</h5>
      <h5 class="mb-2">{{ data.subTitle }}</h5>
      <p class="mb-3" *ngFor="let d of data.description">{{ d }}</p>
    </div>
  </div>
</div>
