.form-card,
.view-card {
  width: 100% !important;
  box-shadow: 0 0.5rem 1rem transparentize($primary, 0.7);
  border-radius: 0.25rem;
  .card-header {
    font-weight: bold;
    font-size: 1.25rem !important;
    padding: 1rem;
    .card-header-items {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .back-btn {
        color: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
      }
    }
  }
  .card-body {
    .form-control-sm {
      border-radius: 0.3rem;
    }
    .table-responsive {
      .form-control-sm {
        text-align: center !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px !important;
      }
    }
    .form-label {
      font-weight: 600;
      // border-radius: 0.3rem;
      // text-align: center !important;
    }
    padding: 1rem;
    .reset-btn {
      padding: 0.5rem 2rem;
      margin: 0 0.5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
    }
    .submit-btn {
      padding: 0.5rem 2rem;
      margin: 0 0.5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
    }
  }
}

.form-page {
  background-color: #fff;
  width: 100% !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem;
  padding: 2rem;
  .form-label {
    font-weight: 700;
  }
  .form-control {
    margin-bottom: 1rem;
  }
  .form-control-sm {
    border-radius: 0.5rem;
  }
  .form-select {
    padding: 0.407rem 0.75rem;
  }
  .next-btn {
    display: flex;
    align-items: center;
    i {
      margin-left: 0.5rem;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      color: $primary;
    }
  }
  .previous-btn {
    display: flex;
    align-items: center;
    i {
      margin-right: 0.5rem;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      color: $primary;
    }
  }
}
