* {
  padding: 0;
  margin: 0;
}
.main-row {
  height: 83vh;
}
.main-page {
  width: 100%;
  height: 110vh;
  position: relative;
  .video-box {
    width: 100%;
    height: 100%;
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.landing-col {
  position: relative;
  transform: translateY(-27%);
}
.landing-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  p,
  i {
    color: #fff;
    font-size: 2rem;
  }
}
@media (max-width: 771px) {
  .main-row {
    height: 35vh;
  }
  .main-page {
    height: 70vh;
  }
  .landing-col {
    position: relative;
    transform: translateY(-40%);
  }
  .landing-text {
    p,
    i {
      font-size: 1.25rem;
    }
  }
}
