.form-label {
  margin-bottom: 0;
}
// .form-control-sm{
//     min-height: 1.4rem !important;
// }
.input{
    height: 1.4rem !important;
    min-height: 1.4rem !important;
    width: 5rem !important;

}
