<div class="container-fluid connect-page">
    <div class="row justify-content-center">
        <div class="col-11 col-md-11 col-lg-5">
            <p class="connect-text">Stay connected to get the best deals</p>
            <div class="input-wrapper">
                <input type="text" placeholder="Your email address" [(ngModel)]="email">
                <div class="subs-box">
                    <p class="pointer" (click)="submit()">subscribe</p>
                </div>
            </div>
        </div>
    </div>
</div>