<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <p class="py-3 text-color-primary pointer">
        <span (click)="navigateTo('/')">Home</span> / About us
      </p>
    </div>
    <div class="col-11">
      <h1 class="py-4">About us</h1>
    </div>
    <div class="col-11">
      <h1>About us</h1>
    </div>
    <div class="col-11">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4 p-3">
          <h5 class="mb-2">Our company</h5>
          <p class="fw-bold mb-3">
            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
            eiusmod tempor incididun.
          </p>
          <p class="mb-3">
            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing
            elit.
          </p>
          <ul>
            <li>Top quality products</li>
            <li>Best customer service</li>
            <li>30-days money back guarantee</li>
          </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-4 p-3">
          <h5>Our team</h5>
          <img src="" alt="cms-img" />
          <p class="fw-bold mb-3">Lorem set sint occaecat cupidatat non</p>
          <p>
            Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo.
          </p>
        </div>
        <div class="col-12 col-md-4 col-lg-4 p-3">
          <h5>Testimonials</h5>
          <p class="mb-1">
            “Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim.”
          </p>
          <p class="fw-bold mb-3">Lorem ipsum dolor sit</p>
          <p>
            “Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet conse ctetur adipisicing elit. Lorem ipsum dolor sit amet conse
            ctetur adipisicing elit, sed do eiusmod.”
          </p>
          <p class="fw-bold mb-3">Lorem ipsum dolor sit</p>
        </div>
      </div>
    </div>
  </div>
</div>
