<div class="container-fluid py-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-11">
            <h1 class="section-heading ps-4">Who we are ?</h1>
          </div>
          <div class="col-12 content-box">
            <div class="row flex-box">
              <div class="col-12 col-md-6 col-lg-6 pe-4 left-part">
                <p class="mb-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aliquam enim risus, porttitor in mauris id, imperdiet lacinia
                  eros. Proin vestibulum pretium maximus. Morbi bibendum, massa
                  sit amet pretium tincidunt, ligula purus ultricies purus, sit
                  amet lacinia nulla sem non diam. Vestibulum dapibus mi iaculis
                  velit viverra tempor. Integer gravida ex ut ipsum iaculis, nec
                  accumsan mi bibendum.
                </p>
                <p class="mb-2">
                  Nunc sed varius enim, non ornare justo. Curabitur ullamcorper
                  blandit pulvinar. Nullam mollis viverra luctus. Etiam
                  convallis velit non justo feugiat accumsan. Quisque eget
                  sapien scelerisque, blandit arcu a, fringilla metus. Vivamus
                  faucibus, risus eu mollis ullamcorper, ipsum orci viverra
                  magna, sed interdum nibh libero a magna. Vestibulum ante ipsum
                  primis in faucibus orci luctus et ultrices posuere cubilia
                  curae; Vestibulum ac felis ipsum.
                </p>
                <p class="mb-2">
                  Quisque pretium commodo urna, et scelerisque orci consectetur
                  ac. Pellentesque id arcu orci.
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-6 right-part ps-4">
                <p class="mb-2">
                  Phasellus elit urna, pulvinar ut feugiat eu, tempus in orci.
                  Etiam quis tortor blandit, laoreet erat vitae, gravida odio.
                  Quisque luctus ultricies odio, ac tristique turpis egestas at.
                  Nam in posuere urna. Suspendisse egestas semper urna vitae
                  bibendum.
                </p>
                <p class="mb-2">
                  Vivamus vel quam in urna convallis bibendum id ac ante.
                  Aliquam ultrices nisl vitae tellus tempor faucibus. Mauris
                  eleifend metus a facilisis interdum. Sed lorem urna, egestas
                  at dui et, fringilla condimentum ex.
                </p>
                <p class="sign-text">signature</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
