.cross-btn {
    width: 25px;
    height: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .new-img {
    height: 300px;
    width: 300px !important;
    object-fit: cover;
  }