<div class="table-container">
  <div class="card table-card">
    <div class="card-title">
      <h3>Offer List</h3>
    </div>
    <div class="card-header">
      <div class="row justify-content-between">
        <div class="col-4">
          <div class="input-icons">
            <div class="input-group input-group-sm">
              <input
                type="search"
                class="form-control"
                aria-label="Small"
                placeholder="Search"
                [(ngModel)]="search"
                (input)="searchFn()"
                aria-describedby="inputGroup-sizing-sm"
              />
              <div class="input-group-append">
                <span class="input-group-text h-100" id="inputGroup-sizing-sm">
                  <i class="ti ti-search"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-3 text-right">
          <button
            (click)="navigateTo('/default/offers/offers-form', null)"
            class="btn add-btn"
          >
            <i class="ti ti-plus me-1"></i>
            Add Offer
          </button>
        </div>
      </div>
    </div>

    <div class="card-body p-3">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="thead">
            <tr class="table-secondary">
              <th scope="col">Sr. No.</th>
              <th scope="col">Title</th>
              <th scope="col">Products</th>
              <th scope="col">Expiration Date</th>
              <th scope="col">Discount</th>
              <th scope="col">Status</th>
              <th scope="col" class="mx-auto text-center">Action</th>
            </tr>
          </thead>
          <tbody class="tbody mt-3">
            <tr *ngFor="let c of offers; let i = index">
              <td scope="row">{{ i + 1 }}</td>
              <td scope="row">{{ c?.title }}</td>
              <td scope="row">{{ c?.products }}</td>
              <td scope="row">{{ c?.expirationDate | date }}</td>
              <td scope="row">
                <span *ngIf="c?.discountPercentage; else elseBlock">
                  {{ c?.discountPercentage }}%
                </span>
                <ng-template #elseBlock>
                  {{ c?.discountAmount | currency: "INR" }}
                </ng-template>
              </td>
              <td scope="row">
                <span
                  class="badge rounded-pill  text-bg-{{
                    c.status == 'active' ? 'success' : 'danger'
                  }} px-2"
                >
                  {{ c.status | titlecase }}</span
                >
              </td>
              <td scope="row" class="text-center">
                <ng-container>
                  <button
                    class="btn action-btn btn-sm mx-2"
                    (click)="navigateTo('/default/offers/offers-form', c?._id)"
                    ngbTooltip="Update"
                  >
                    <i class="ti ti-edit-circle"></i>
                  </button>

                  <button
                    class="btn action-btn btn-sm"
                    (click)="open(c, deleteModal)"
                    ngbTooltip="Delete"
                  >
                    <i class="ti ti-trash"></i>
                  </button>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-custom-pagination
        [(page)]="page"
        [(pageSize)]="pageSize"
        [(collection)]="collection"
        (myOutput)="onChangePage(page)"
      ></app-custom-pagination>
    </div>
  </div>
</div>
<ng-template #deleteModal let-modal>
  <div class="modal-header border-0">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body border-0">
    <h2 class="modal-title text-center text-primary" id="modal-basic-title">
      {{ selectedRow?.offersName }}
    </h2>
    <h4 class="modal-title text-center" id="modal-basic-title">
      Are you sure you want to Delete ?
    </h4>
  </div>
  <div class="modal-footer justify-content-center border-0">
    <button
      type="button"
      class="btn px-4 btn-danger"
      (click)="delete(selectedRow?._id)"
    >
      YES
    </button>
    <button
      type="button"
      class="btn px-4 btn-primary"
      (click)="modal.dismiss('Cross click')"
    >
      NO
    </button>
  </div>
</ng-template>
