<html lang="en">
  <body>
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
      "
    >
      <div style="text-align: center">
        <h2 style="text-align: center">Enquiry from PEACOCK</h2>
        <img
          src="{{companyLogo}}"
          alt="Your Company Logo"
          style="max-width: 100px"
        />
      </div>

      <p><span style="font-weight: 600;">Enquiry from :- </span>{{enquiryEmail}}</p>
      <p>{{enquiryMsg}}</p>

    </div>
  </body>
</html>
