<html lang="en">
  <body>
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
      "
    >
      <div style="text-align: center">

        <h2 style="text-align: center">Email Verification for PEACOCK</h2>
        <img
        src="{{companyLogo}}"
          alt="Your Company Logo"
          style="max-width: 100px"
        />
      </div>
      
      <p>Dear {{userName}},</p>
      <p>
       Email Verify Link 
      </p>    
      <p style="text-align: center">
        <a       
          style="
            display: inline-block;
            background-color: rgb(183, 49, 94);
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
          "
          href="{{verifyLink}}"
          >Click to Verify</a
        >
      </p>
      <p>
        If you have any questions or need assistance, feel free to contact our
        support team.
      </p>
      <p>Best regards,<br/>PEACOCK</p>
    </div>
  </body>
</html>
