* {
  padding: 0;
  margin: 0;
}

.description {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  padding: 0.5rem;
  margin-top: 1rem;
}
.password-input {
  display: flex;
  input {
    width: 95%;
  }
  .icon-box {
    padding: 0.5rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.opt-box {
  padding: 0.5rem;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-danger {
  background-color: #f8d7da;
}
.info {
  height: auto;
}
.btn-dark,
.btn-light {
  width: 100% !important;
  padding: 0.5rem 0 !important;
  border-radius: 0 !important;
}
.background-primary {
  background-color: #f8f8f8;
}
.form-control,.input-number {
  border: 0;
  border-radius: 0;
  padding: 0.5rem 1rem !important;
}
.form-control:focus,.input-number:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.form-control:focus-visible,.input-number:focus-visible {
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
}
.btn-dark,
.btn-light {
  width: 100% !important;
  padding: 0.5rem 0 !important;
  border-radius: 0 !important;
}
.btn:focus {
  box-shadow: none;
}
.btn:active{
  border: 0;
}
input:focus{
  box-shadow: none;
}
.small-text{
  font-size: 0.75rem;
  font-weight: 400;
}
.badge{
  background-color: #ededed;
  border-radius: 1rem;
  position: absolute;
  left: -3%;
  top: -10%;
  padding: 0.5rem;
  width: 10%;
}
.card{
  margin: 1rem;
    // width: 45%;
}
@media (max-width: 992px) {
  .personal-info,
  .address-info,
  .shipping-info,
  .payment-info {
    padding: 0 !important;
    // margin-bottom: 1rem;
  }
}
.info-collapsed {
  height: 73px;
}
.promo-input {
  background-color: transparent;
}
