* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.head:hover #topbar {
  background-color: #fff;
  z-index: 100;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.head:hover .header-web {
  background-color: #fff;
  z-index: 100;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.head:hover .header-tablet {
  background-color: #fff;
  z-index: 100;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.header-web {
  display: block;
  background: transparent;
  z-index: 1000;
  position: relative;
  .navbar-brand {
    color: #000;
    font-size: 18px;
    line-height: 3.8125rem;
    max-width: 14.6875rem;
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .text-color-red {
    color: #ad0700;
  }
  .prod-img {
    height: 300px;
    object-fit: cover;
  }
  // &:hover{
  //   background: #fff;
  // }
}
.header-tablet {
  display: none;
}
@media (max-width: 992px) {
  .header-web {
    display: none;
  }
  .header-tablet {
    display: block;
    z-index: 1000;
    position: relative;
    .menu-items {
      i {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
.nav_menu:hover {
  border-bottom: 1px solid #000;
}
.nav-items {
  cursor: pointer;
  font-size: 14px;
  color: #000;
}

.img-fit {
  width: 100%;
  height: 100%;
}

//
.nav_list {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  margin: 0 1.5rem;
}
//
.nav_link-search {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
}
//
.dropdown-search {
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background: rgb(252, 253, 251);
  box-shadow: 0rem 0.2rem 0.5rem rgba(32, 7, 65, 0.14);
  transition: all 0.5s ease-in;
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}
//
.dropdown-search-collapsed {
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background: rgb(252, 253, 251);
  box-shadow: 0rem 0.2rem 0.5rem rgba(32, 7, 65, 0.14);
  transition: all 0.5s ease-in;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 1%);
}
//
.search {
  background-color: #f8f8f8;
}

.nav_link {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  color: #282626ac;
}

.dropdown {
  position: absolute;
  top: 3.8rem;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0rem 0.2rem 0.5rem rgba(32, 7, 65, 0.14);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.5s ease-in;
  z-index: 1000;
}
.drop-items {
  font-size: 1rem;
  line-height: 1.25rem;
}
.dropdown-inner {
  padding: 2rem 3.5rem;
  border-top: 1px solid #ededed;
}
.links {
  margin: 0 6rem;
  padding: 0.4rem;
  background-color: #ddd;
  ul li {
    padding: 0 0.4rem;
  }
}
.placeholder-img {
  margin: 0 6rem;
  width: 75%;
}
.dropdown-inner-shop {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 40% 30% 30%);
  gap: 2rem;
  padding: 2rem 6rem 1rem 6rem;
}
.dropdown-inner-fashion {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem 0 2rem 6rem;
}
.dropdown-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem 0;
}
.dropdown-item-shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.fashion-img {
  width: 100%;
  height: 70%;
  object-fit: fill;
}
.item-list-info img {
  width: 54%;
  height: 75%;
  mix-blend-mode: multiply;
}
.nav_list_menu:hover .dropdown {
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}
.item-heading {
  padding-bottom: 0.8rem;
  font-size: 18px;
}
.item-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0;
}
li {
  padding: 0.2rem 0;
}

.item-img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4ebff;
}
.item-img-shop {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list-info {
  position: relative;
  width: 100%;
}

button:focus {
  box-shadow: none;
}
.logo-img {
  width: 50px;
  height: 50px;
}
.option {
  height: 90%;
  overflow-y: auto;
  .option-item p {
    font-size: 1.5rem;
  }
}
.foot {
  height: 10%;
}
.product-part {
  max-height: 35vh;
  min-height: 35vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .small-text {
    font-size: 0.75rem;
  }
  input {
    background-color: #f8f8f8;
    padding: 0.5rem;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
.info-part {
  max-height: 52vh;
  min-height: 52vh;
  .description {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
.form-control:focus {
  box-shadow: none;
  outline: none;
  border: 0;
  background-color: transparent;
}
.form-control:focus-visible {
  border: 0;
  outline: none;
}

.form-control {
  border: 0;
  font-size: 0.9rem;
}
input {
  border: 0;
  background-color: transparent;
}

.search:focus {
  border-bottom: 1px solid #000;
}
.form-control:focus .search {
  border-bottom: 1px solid #000;
}
.search:visited {
  border-bottom: 1px solid #000;
}
.shop-top-span {
  font-size: 1.25rem;
}

// TOPBAR
#topbar {
  background: transparent;
  .upper-row {
    justify-content: center;
    padding: 1rem;
    align-items: center;
    // background: #007271;
    position: relative;
    z-index: 10;
    .ship-text {
      margin: auto 0;
      p {
        color: #fff;
        text-align: center;
        img {
          height: 40px;
        }
      }
    }
    .icons-box {
      height: 100%;
      display: flex;
      justify-content: flex-end;

      .icons {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          color: #000;
          cursor: pointer;
        }
      }
    }
    // &:hover{
    //   background: #007271;
    // }
  }
}
.product-part {
  max-height: 35vh;
  min-height: 35vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .small-text {
    font-size: 0.75rem;
  }
  input {
    background-color: #f8f8f8;
    padding: 0.5rem;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
.info-part {
  max-height: 52vh;
  min-height: 52vh;
  .description {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
.search {
  background-color: #e3e3e3;
}
input {
  background-color: #e3e3e3;
  &:focus {
    background-color: #e3e3e3;
  }
}
@media (max-width: 992px) {
  .container-fluid {
    .upper-row {
      .ship-text {
        p {
          text-align: start;
        }
      }
    }
  }
}
