* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.head:hover #topbar {
  background-color: #fff;
  z-index: 100;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.head:hover .header-web {
  background-color: #fff;
  z-index: 100;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.head:hover .header-tablet {
  background-color: #fff;
  z-index: 100;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.btn-dark,
.btn-light {
  width: 100% !important;
  padding: 0.5rem 0 !important;
  border-radius: 0 !important;
}
.text-color-red {
  color: #c11a1a;
}
.nav_menu:hover {
  border-bottom: 1px solid #000;
}
.header-web {
  display: block;
  background: transparent;
  z-index: 1000;
  position: relative;
  .navbar-brand {
    color: #000;
    font-size: 18px;
    line-height: 3.8125rem;
    max-width: 14.6875rem;
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .text-color-red {
    color: #ad0700;
  }
  .prod-img {
    height: 300px;
    object-fit: cover;
  }
  // &:hover{
  //   background: #fff;
  // }
}
.header-tablet {
  display: none;
}
.nav-items {
  cursor: pointer;
  font-size: 14px;
  color: #000;
}
//
.nav_list {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  margin: 0 1.5rem;
}
.dropdown-search {
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background: rgb(252, 253, 251);
  box-shadow: 0rem 0.2rem 0.5rem rgba(32, 7, 65, 0.14);
  transition: all 0.5s ease-in;
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}
//
.dropdown-search-collapsed {
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background: rgb(252, 253, 251);
  box-shadow: 0rem 0.2rem 0.5rem rgba(32, 7, 65, 0.14);
  transition: all 0.5s ease-in;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 1%);
}
//
.search {
  background-color: #f8f8f8;
}
.nav_link {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  color: #282626ac;
}
.dropdown {
  position: absolute;
  top: 3.8rem;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0rem 0.2rem 0.5rem rgba(32, 7, 65, 0.14);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.5s ease-in;
  z-index: 1000;
}
.drop-items {
  font-size: 1rem;
  line-height: 1.25rem;
  cursor: pointer;
}
.dropdown-inner {
  padding: 2rem 3.5rem;
  border-top: 1px solid #ededed;
}
.nav_list_menu:hover .dropdown {
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}
li {
  padding: 0.2rem 0;
}
.logo-img {
  width: 50px;
  height: 50px;
}
.option {
  height: 90%;
  overflow-y: auto;
  .option-item p {
    font-size: 1rem;
  }
}
.product-part {
  max-height: 35vh;
  min-height: 35vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .small-text {
    font-size: 0.75rem;
  }
  input {
    background-color: #f8f8f8;
    padding: 0.5rem;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
.info-part {
  max-height: 52vh;
  min-height: 52vh;
  .description {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
.shop-top-span {
  font-size: 1.25rem;
}
.transparent {
  background-color: transparent;
}
.modal-open{
  position: fixed;
  z-index: 1045;
  height: 100vh;
  background: #fff;
  top: 0;
  transition: transform 0.5s ease-in-out;
}
.toggle-modal {
  width: 100%;
  transform: translateX(0);
}
.toggle-close {
  width: 100%;
  transform: translateX(-100%) !important;
}
.cart-modal {
  width: 30%;
  right: 0;
}
.cart-close {
  width: 30%;
  right: 0;
  transform: translateX(100%);
}
.offcanvas-header,
.cart-header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offcanvas-body {
  height: 80vh;
}
.cart-body {
  height: 90vh;
}
// TOPBAR
#topbar {
  background: transparent;
  .upper-row {
    justify-content: center;
    padding: 1rem;
    align-items: center;
    // background: #007271;
    position: relative;
    z-index: 10;
    .ship-text {
      margin: auto 0;
      p {
        color: #fff;
        text-align: center;
        img {
          height: 40px;
        }
      }
    }
    .icons-box {
      height: 100%;
      display: flex;
      justify-content: flex-end;

      .icons {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          color: #000;
          cursor: pointer;
        }
      }
    }
  }
}
.product-part {
  max-height: 35vh;
  min-height: 35vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .small-text {
    font-size: 0.75rem;
  }
  input {
    background-color: #f8f8f8;
    padding: 0.5rem;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
.form-control:focus,.input-number:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.form-control:focus-visible,.input-number:focus-visible {
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
}
.info-part {
  max-height: 52vh;
  min-height: 52vh;
  .description {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
.search {
  background-color: #e3e3e3;
}
input {
  background-color: #e3e3e3;
  border: 0;
  &:focus {
    background-color: #e3e3e3;
  }
}
@media (max-width: 992px) {
  .header-web {
    display: none;
  }
  .header-tablet {
    display: block;
    z-index: 1000;
    position: relative;
    .menu-items {
      i {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  .container-fluid {
    .upper-row {
      .ship-text {
        p {
          text-align: start;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cart-modal,
  .cart-close,
  .toggle-modal,
  .toggle-close {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .cart-modal,
  .cart-close {
    width: 100%;
  }
}