<div
  class="head"
  [ngClass]="scrollPosition == 0 ? 'transparent' : ''"
  [ngClass]="scrollValue < 0 ? 'sticky-top bg-light' : ''"
>
  <div class="container-fluid" id="topbar">
    <div class="row upper-row">
      <div class="col-11">
        <div class="row">
          <div class="col-4 d-flex pointer" (click)="navigateTo('/',null)">
            <img
              width="55"
              src="../../../../../assets/images/gold-logo.png"
              alt="logo"
            />
          </div>
          <div class="col-8 col-lg-4 ship-text">
            <p>
              <img
                (click)="navigateTo('/',null)"
                class="img-fluid pointer"
                src="../../../../../assets/images/companyName.png"
                alt="Company Name"
              />
            </p>
          </div>
          <div class="d-none d-md-none d-lg-block col-lg-4">
            <div class="icons-box">
              <div class="icons">
                <i
                  class="fa-solid fa-magnifying-glass pointer"
                  (click)="openSearch(search)"
                ></i>
                <i
                  class="fa-solid fa-user pointer"
                  (click)="navigateTo('/auth/login',null)"
                ></i>
                <i
                  class="fa-solid fa-bag-shopping pointer"
                  (click)="isCartOpen = !isCartOpen"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid header-web">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="row justify-content-around">
          <div class="col-10">
            <div class="d-flex h-100">
              @for (item of commonService.allData.tags; track item.id){
              <div class="nav_menu d-flex" (mouseover)="activeTagId = item.id">
                <div class="nav_list nav_list_menu">
                  <a class="nav_link text-uppercase">
                    <span class="nav-items">{{ item.title }}</span>
                  </a>
                  <div class="dropdown">
                    <div class="dropdown-inner row">
                      <div class="col-2 dropdownItem border-end">
                        <div class="py-2">
                          <span class="drop-items pointer text-capitalize">{{
                            item.title
                          }}</span>
                        </div>
                        <div
                          class="py-2"
                          *ngFor="
                            let item of commonService.allData.products
                              | tagCategory : activeTagId
                          "
                        >
                          <span
                            class="drop-items pointer"
                            (click)="navigateToDynamic(item?.name)"
                            >{{item?.name}}</span
                          >
                        </div>
                      </div>
                      <div class="col-10 dropdownItem px-3">
                        <swiper-container class="img-box" slides-per-view="4">
                          <swiper-slide
                            class="px-2 prod-cart"
                            (click)="navigateTo('/product/product-details',p?.id)"
                            *ngFor="
                              let p of commonService.allData.products
                                | tagProduct : activeTagId
                            "
                            ><img
                              class="prod-img w-100"
                              [src]="p?.bannerImage"
                            />
                            <div class="text-box p-3">
                              <p class="prod-name">{{ p?.name }}</p>
                            </div>
                          </swiper-slide>
                        </swiper-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
          <div class="col-2 d-flex justify-content-end">
            <div
              class="navbar-brand text-uppercase text-color-red nav-items"
              (click)="navigateTo('/contact',null)"
            >
              Contact
            </div>
            <div class="d-flex align-items-center">
              <i
                class="fa-solid fa-bag-shopping nav-items"
                (click)="isCartOpen = !isCartOpen"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid header-tablet">
    <div class="row">
      <div
        class="col-3 d-flex flex-column align-items-center p-3 menu-items"
        (click)="isMenuOpen = !isMenuOpen"
      >
        <i class="fa-solid fa-bars"></i>
        <p>Menu</p>
      </div>
      <div class="col-3 d-flex flex-column align-items-center p-3 menu-items">
        <i
          class="fa-solid fa-magnifying-glass"
          (click)="searchToggle = !searchToggle"
        ></i>
        <div class="d-flex">
          <div class="nav_list">
            <p
              class="d-flex justify-content-center"
              (click)="searchToggle = !searchToggle"
            >
              Search
            </p>
            <div
              [ngClass]="
                searchToggle ? 'dropdown-search' : 'dropdown-search-collapsed'
              "
            >
              <div class="container-fluid">
                <div
                  class="search d-flex justify-content-between align-items-center p-4 w-100"
                >
                  <input
                    type="text"
                    placeholder="Search"
                    class="form-control w-75"
                  />
                  <i
                    class="fa-solid fa-magnifying-glass"
                    (click)="searchToggle = !searchToggle"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-3 d-flex flex-column align-items-center p-3 menu-items"
        (click)="navigateTo('/auth/login',null)"
      >
        <i class="fa-solid fa-user"></i>
        <p>Sign In</p>
      </div>
      <div
        (click)="isCartOpen = !isCartOpen"
        class="col-3 d-flex flex-column align-items-center p-3 menu-items"
      >
        <i class="fa-solid fa-bag-shopping"></i>
        <p>Cart</p>
      </div>
    </div>
  </div>
</div>

<div
  [ngClass]="isMenuOpen ? 'modal-open toggle-modal' : 'modal-open toggle-close'"
>
  <div *ngIf="isMenuOpen" class="offcanvas-header m-0 px-4 py-2">
    <img
      src="../../../../../assets/images/gold-logo.png"
      class="img-fluid-m me-3 logo-img"
    />
    <button type="button" class="btn" (click)="isMenuOpen = !isMenuOpen">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div *ngIf="isMenuOpen" class="offcanvas-body m-0">
    <div class="option p-4">
      <div *ngFor="let item of commonService.allData.tags"
        class="option-item border-bottom d-flex justify-content-between py-3"
        (click)="handleCategory(item)"
      >
        <p class="w-75 text-uppercase">{{ item.title }}</p>
        <div class="d-flex justify-content-end align-items-center w-25">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
      <div
        class="option-item border-bottom d-flex justify-content-between py-3"
        (click)="navigateTo('/contact',null); isMenuOpen = !isMenuOpen"
      >
        <p class="w-75 text-uppercase">Contact</p>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="isCartOpen ? 'modal-open cart-modal' : 'modal-open cart-close'">
  <div class="cart-header m-0 px-4 py-3 border-bottom bg-light">
    <h4>Your Cart</h4>
    <button
      type="button"
      class="btn text-dark"
      (click)="isCartOpen = !isCartOpen"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div
    class="cart-body m-0 bg-white p-3 d-flex flex-column justify-content-between"
  >
    <div class="product-part">
      <div class="border-bottom d-flex" *ngFor="let p of product">
        <div>
          <img
            (click)="
              navigateTo('/product/product-details',p?.id); isCartOpen = !isCartOpen
            "
            class="img-fluid pointer"
            [src]="p.img"
            alt=""
          />
        </div>
        <div class="d-flex justify-content-center bg-white flex-column p-3">
          <p
            (click)="
              navigateTo('/product/product-details',p?.id); isCartOpen = !isCartOpen
            "
            class="pointer"
          >
            {{ p.name }}
          </p>
          <p class="text-color-secondary small-text">Size : {{ p.size }}</p>
          <p class="text-color-secondary small-text">Color : {{ p.color }}</p>
          <div class="d-flex align-items-center">
            <input
              type="number"
              class="w-50 border-0"
              [(ngModel)]="p.qty"
              [value]="p.qty"
            />
            <label>x {{ p.price | currency }}</label>
          </div>
        </div>
        <div class="d-flex align-items-center bg-white">
          <i class="fa-solid fa-trash"></i>
        </div>
      </div>
    </div>
    <div class="info-part">
      <div class="container-fluid">
        <div class="row py-3 border-bottom">
          <div class="col-12 d-flex justify-content-between">
            <p>
              {{ product.length }} {{ product.length > 1 ? "items" : "item" }}
            </p>
            <p>{{ totalItemPrice | currency }}</p>
          </div>
          <div class="col-12 d-flex justify-content-between">
            <p>Shipping</p>
            <p>{{ totalShipCharge | currency }}</p>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12 d-flex justify-content-between">
            <p>Total (tax incl.)</p>
            <p>{{ totalItemPrice + totalShipCharge | currency }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 description">
            <p>Spend $168.50 more to get free shipping!</p>
            <p>
              IQITFREEDELIVERYCOUNT - module, you can put own text in
              configuration
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <button
              type="button"
              class="btn btn-dark py-2"
              (click)="navigateTo('/order/checkout',null); isCartOpen = !isCartOpen"
            >
              Checkout
            </button>
          </div>
          <div class="col-12">
            <button
              type="button"
              class="btn btn-light py-2"
              (click)="navigateTo('/order/cart',null); isCartOpen = !isCartOpen"
            >
              Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="isCatOpen ? 'modal-open cart-modal' : 'modal-open cart-close'">
  <div class="offcanvas-header m-0 px-4 py-3 border-bottom">
    <h6 class="fw-bold">THE PEACOCK COLLECTIVE</h6>
    <button type="button" class="btn text-dark" (click)="handleDataRemove()">
      <i class="text-dark fa-solid fa-xmark"></i>
    </button>
  </div>

  <div
    class="offcanvas-body m-0 px-4 d-flex flex-column justify-content-between"
  >
    <div class="option">
      <div
        class="option-item border-bottom d-flex justify-content-between py-3"
        (click)="handleDataRemove()"
      >
        <div class="d-flex align-items-center w-25">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
        <p class="w-75 text-uppercase fw-bold">{{category?.title }}</p>
      </div>
      <div *ngFor="let cat of category.categories"
        class="option-item border-bottom d-flex justify-content-between py-3"
        (click)="
          navigateToDynamic(cat?.name);handleDataRemove()
        "
      >
        <p class="w-75 text-uppercase" (click)="isMenuOpen = !isMenuOpen;handleDataRemove()">{{cat?.name}}</p>
        <div class="d-flex justify-content-end align-items-center w-25">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #search let-modal>
  <div
    class="search d-flex justify-content-between align-items-center p-4 w-100"
  >
    <input
      type="text"
      placeholder="Search our catalog"
      class="form-control w-75 background-primary"
    />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</ng-template>