<div class="card form-card">
  <div class="card-header">
    <div class="card-header-items">
      <div class="ms-2">Shop Details</div>
      <div>
        <a class="back-btn btn btn-primary" (click)="back()"
          ><i class="ti ti-arrow-left me-1"></i> Back</a
        >
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="shopForm">
      <div class="row">
        <div class="col-md-4 mb-2">
          <label class="form-label">
            Name
            <span class="text-danger">*</span>
          </label>
          <input
            formControlName="name"
            placeholder="Full Name"
            type="text"
            class="form-control"
          />
          <div></div>
        </div>
        <div class="col-md-4 mb-2">
          <label class="form-label">
            Shop Name
            <span class="text-danger">*</span>
          </label>
          <input
            formControlName="shopName"
            placeholder="Shop Name"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-md-4 mb-2">
          <label class="form-label"> Mobile Number </label>
          <input
            formControlName="mobile"
            placeholder="Mobile"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-2">
          <label class="form-label"> Alternate Mobile </label>
          <input
            formControlName="whatsUp"
            placeholder="AlternateMobile"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-md-4">
          <label class="form-label"> Email </label>
          <input
            formControlName="email"
            placeholder="Email"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-md-4 mb-2">
          <label class="form-label"> Time </label>
          <input
            formControlName="time"
            placeholder="Time"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="form-label"> Working Days </label>
          <input
            formControlName="workingDays"
            placeholder="Working Days"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <hr class="my-3" />
      <h5 class="">Address details</h5>
      <div class="row" formGroupName="address">
        <div class="col-md-4 mb-2">
          <label class="form-label"> Line 1 </label>
          <input
            formControlName="line1"
            placeholder="line1"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-md-4 mb-2">
          <label class="form-label"> Line 2 </label>
          <input
            formControlName="line2"
            placeholder="line2"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-md-4 mb-2">
          <label class="form-label"> City </label>
          <input
            formControlName="city"
            placeholder="city"
            type="text"
            class="form-control"
          />
        </div>

        <div class="col-md-4">
          <label class="form-label"> State </label>
          <input
            formControlName="state"
            placeholder="state"
            type="text"
            class="form-control"
          />
        </div>

        <div class="col-md-4">
          <label class="form-label"> Country </label>
          <input
            formControlName="country"
            placeholder="country"
            type="text"
            class="form-control"
          />
        </div>

        <div class="col-md-4">
          <label class="form-label"> Pin Code </label>
          <input
            formControlName="pinCode"
            placeholder="pinCode"
            type="number"
            class="form-control"
          />
        </div>
      </div>
      <hr class="my-3" />

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-9 pt-3 border border-2 border-secondary">
              <div class="form-group satFat-logoBody">
                <label for="companyLogo">Upload Logo</label>
                <ngx-file-drop
                  class="ngx-fileDropBody"
                  dropZoneClassName="satFat-dropZoneBody imgBorderYes"
                  contentClassName="satFat-contentBody"
                  (onFileDrop)="dropped($event)"
                  (onFileOver)="fileOver($event)"
                  (onFileLeave)="fileLeave($event)"
                  accept="image/jpeg, image/png"
                >
                  <ng-template
                    ngx-file-drop-content-tmp
                    let-openFileSelector="openFileSelector"
                  >
                    <div class="align-self-center"></div>

                    <div class="imgNone d-flex flex-column text-center">
                      <div class="cloudIcon">
                        <i class="fa fa-cloud-upload"></i>
                      </div>
                      Upload File (Drag & Drop)
                      <div class="text-dark">OR</div>
                      <div class="row justify-content-center">
                        <div class="col-3 d-grid">
                          <button
                            class="btn btn-secondary"
                            type="button"
                            (click)="openFileSelector()"
                          >
                            Browse File
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-file-drop>
              </div>
            </div>

            <div class="col-md-3 text-center align-self-center">
              <img
                [src]="fileContentImage"
                class="img-fluid img-size"
                *ngIf="fileContentImage; else templateImage"
                width="100"
              />
              <ng-template #templateImage>
                <img
                  src="../../../../assets/images/user/avatar-2.jpg"
                  alt="placeholder Image"
                  width="100"
                />
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 my-1">
          <div class="d-flex justify-content-center">
            <button
              (click)="reset()"
              type="submit"
              class="btn reset-btn btn-primary"
            >
              <i class="fa-solid fa-arrows-rotate me-2"></i>
              Reset
            </button>
            <button
              type="submit"
              [class]="userId ? 'btn-warning' : 'btn-success'"
              class="btn submit-btn"
              (click)="submit()"
            >
              <i
                [class]="userId ? 'fa-pen-to-square' : 'fa-plus'"
                class="fa-solid me-2"
              ></i>
              {{ userId ? "Update" : "Create" }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!--   auto increment table  -->

<div class="table-container mt-5">
  <div class="card table-card">
    <div class="card-title">
      <h3>Auto Increment List</h3>
    </div>

    <div class="card-body p-3">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="thead">
            <tr class="table-secondary">
              <th scope="col">Sr. No.</th>
              <th scope="col">Module Name</th>
              <th scope="col">Module</th>
              <th scope="col">Module Prefix</th>
              <th scope="col">Digit</th>
              <th scope="col">Auto Increment Value</th>
              <th scope="col" class="mx-auto text-center">Action</th>
            </tr>
          </thead>
          <tbody class="tbody mt-3">
            <tr *ngFor="let item of allData; let i = index">
              <td scope="row">{{ i + 1 }}</td>
              <td scope="row">{{ item.moduleName }}</td>
              <td scope="row">{{ item.module }}</td>
              <td>
                <div class="d-flex justify-content-center">
                  <input
                    [(ngModel)]="item.modulePrefix"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control form-control-sm w-50"
                  />
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <input
                    [(ngModel)]="item.digit"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control form-control-sm w-50"
                  />
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <input
                    [(ngModel)]="item.autoIncrementValue"
                    [ngModelOptions]="{ standalone: true }"
                    type="number"
                    class="form-control form-control-sm w-50"
                  />
                </div>
              </td>

              <td scope="row" class="text-center">
                <ng-container>
                  <button
                    type="submit"
                    [class]="'btn-warning'"
                    class="btn submit-btn"
                    (click)="update(item)"
                  >
                    <i [class]="'fa-pen-to-square'" class="fa-solid me-2"></i>
                    Update
                  </button>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
