<div class="card form-card">
  <div class="card-header">
    <div class="card-header-items">
      <div>{{ variantForm.value.id ? "Update" : "Create" }} Variant</div>
      <div>
        <a class="back-btn btn btn-primary" (click)="back()">
          <i class="ti ti-arrow-left me-1"></i> Back</a
        >
      </div>
    </div>
  </div>
  <div class="card-body justify-content-center">
    <form [formGroup]="variantForm">
      <div class="row">
        <div class="col-md-4 mb-2">
          <label class="form-label">
            SKU
            <span class="text-danger">*</span></label
          >
          <input formControlName="sku" type="text" class="form-control" />
        </div>
        <div class="col-md-4 mb-2">
          <label class="form-label">
            Price
            <span class="text-danger">*</span></label
          >
          <input formControlName="price" type="number" class="form-control" />
        </div>
        <div class="col-md-4 mb-2">
          <label class="form-label">
            Qty
            <span class="text-danger">*</span></label
          >
          <input formControlName="qty" type="number" class="form-control" />
        </div>
        <div class="col-md-4 mb-3" *ngFor="let at of attributes">
          <label class="form-label">Select {{ at.label }}</label>
          <select class="form-select" (change)="onAttrChange($event, at)">
            <option selected disabled [value]="null">
              Select {{ at.label }}
            </option>
            <option
              *ngFor="let val of at.attributes"
              [disabled]="isEdit"
              [value]="val"
            >
              {{ val }}
            </option>
          </select>
        </div>

        <div class="col-12 my-3">
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-center">
                <button
                  (click)="reset()"
                  type="submit"
                  class="btn px-5 btn-primary mx-2 shadow rounded rounded-3 d-flex align-items-center"
                >
                  <i class="fa-solid fa-arrows-rotate me-2"></i>
                  Reset
                </button>
                <button
                  *ngIf="!isEdit"
                  type="submit"
                  class="btn px-5 btn-success shadow rounded rounded-3 mx-2 d-flex align-items-center"
                  (click)="add()"
                >
                  <i
                    [class]="
                      variantForm.value.id != null
                        ? 'fa-pen-to-square'
                        : 'fa-plus'
                    "
                    class="fa-solid me-2"
                  ></i>
                  Create
                </button>
                <button
                  *ngIf="isEdit"
                  (click)="update()"
                  class="btn px-5 btn-warning shadow rounded rounded-3 mx-2 d-flex align-items-center"
                >
                  <i class="fa-pen-to-square fa-solid me-2"></i>
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-variant-list
            [variantList]="variantList"
            (customEvent)="variantEvent($event)"
          ></app-variant-list>
        </div>
      </div>
    </form>
  </div>
</div>
