$offset: 1px;
.search-dropdown {
  position: relative;
  user-select: none;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  $self: &;
  #{$self}__btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 38px - $offset;
    line-height: 38px - $offset;
    padding: 0px 10px;
    cursor: pointer;
    span{
      display: block;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }
  }
  #{$self}__dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: white;
    margin-top: -1px;
    z-index: 9999;
    border: 1px solid #999;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0%);
    &__search {
      width: 100%;
      height: 40px;
      padding: 5px 10px;
      line-height: 20px;
      background: #e3e3e3;
      border: 0;
      outline: none;
    }
    &__item {
      position: relative;
      height: 36px;
      line-height: 36px;
      padding: 0px 20px;
      padding-left: 50px;
      text-transform: capitalize;
      border-bottom: 1px solid #e5e5e5;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:last-child {
        border-bottom: 0px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &__msg {
      padding: 5px 10px;
      text-align: center;
    }
  }
  &.open {
    #{$self}__btn {
      &:before {
        border-top: 0px;
        border-bottom: 5px solid #999;
      }
    }
    #{$self}__dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
  &.small {
    #{$self}__btn {
      height: 32px - $offset;
      line-height: 32px - $offset;
    }
  }
}
