<div class="card form-card">
    <div class="card-header">
        <div class="card-header-items">
            <div>{{ attributeForm.value.id ? "Update" : "Create" }} Category</div>
            <div>
                <a class="back-btn btn btn-primary" (click)="back()">
                    <i class="ti ti-arrow-left me-1"></i> Back</a>
            </div>
        </div>
    </div>
    <div class="card-body justify-content-center">
        <form [formGroup]="attributeForm">
            <div class="row">
                <div class="col-md-4 mb-2">
                    <label class="form-label">
                        Name
                        <span class="text-danger">*</span></label>
                    <input formControlName="name" placeholder="name" type="text" class="form-control" />
                    <div></div>
                </div>


                <div formArrayName="value">
                    <div *ngFor="let skill of attributeValues.controls; let i=index">
                        <div [formGroupName]="i">
                            <!-- {{i}} -->
                            Value:
                            <input type="text" formControlName="value" required="">

                            <button (click)="addValue()">Add</button>
                            <button *ngIf="attributeValues.controls.length>1" (click)="removeValue(i)">Remove</button>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-4 mb-2">
                    <label class="form-label">
                        Status
                        <span class="text-danger">*</span></label>
                    <select formControlName="status" class="form-control">
                        <option selected disabled value="">Select Status</option>
                        <option value="active">Active</option>
                        <option value="inactive">InActive</option>
                    </select>
                </div> -->
            </div>

            <hr />
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <button (click)="reset()" type="submit"
                            class="btn px-5 btn-primary mx-2 shadow rounded rounded-3 d-flex align-items-center">
                            <i class="fa-solid fa-arrows-rotate me-2"></i>
                            Reset
                        </button>
                        <button type="submit" [class]="attributeForm.value.id ? 'btn-warning' : 'btn-success'"
                            class="btn px-5 btn-success shadow rounded rounded-3 mx-2 d-flex align-items-center"
                            (click)="submit()">
                            <i [class]="attributeForm.value.id ? 'fa-pen-to-square' : 'fa-plus'"
                                class="fa-solid me-2"></i>
                            {{ attributeForm.value.id ? "Update" : "Create" }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>