* {
  margin: 0;
  padding: 0;
}
.collection {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(237, 237, 237, 1) 72%
  );
}
.section-heading {
  font-size: 3.2rem;
}
.large-list {
  display: block;
}
.medium-list {
  display: none;
}
.small-list {
  display: none;
}
.product {
  .product-row {
    padding: 2rem;
    .product-column {
      padding: 0;
    }
    .card {
      background: transparent;
      .prod-cart {
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        &:hover {
          transform: scale(1.02);
          transition: transform 0.5s;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .cat-name {
          font-size: 1rem;
        }
      }
      .img-box {
        height: 90%;
        img {
          height: 280px;
          width: 210px !important;
          cursor: pointer;
        }
      }
      .text-box {
        height: 10%;
      }
    }
  }
}
@media (max-width: 767px) {
  .section-heading {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .product {
    padding: 0;
    .section-heading {
      font-size: 2rem;
    }
    .product-row {
      padding: 0 1rem;
      .product-column {
        .text-box {
          padding: 0.25rem !important;
          .cat-name {
            font-size: 0.75rem;
          }
          .cat-price {
            font-size: 0.4rem;
          }
          .prod-name {
            width: 50%;
            line-height: 1;
            font-size: 0.9rem;
          }
          .prod-price {
            font-size: 0.85rem;
          }
        }
        .card {
          .img-box {
            img {
              width: 200px !important;
              height: 45vw;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .large-list {
    display: none;
  }
  .medium-list {
    display: none;
  }
  .small-list {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .large-list {
    display: none;
  }
  .medium-list {
    display: block;
  }
  .small-list {
    display: none;
  }
}
.slide {
  height: 50px !important;
}
/* Style the navigation buttons */
swiper-container::part(button-prev),
swiper-container::part(button-next) {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0.75;
  padding: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
swiper-container::part(button-next) {
  right: var(--swiper-navigation-sides-offset, -5px);
}
swiper-container::part(button-prev) {
  left: var(--swiper-navigation-sides-offset, -5px);
}