<div class="container-fluid py-5">
  <div class="row">
    <div class="col-12 py-4 d-flex justify-content-center">
      <p class="section-heading">The Bridal Edit</p>
    </div>
    <div class="col-12 product large-list">
      <div class="row product-row">
        <div class="col-12 product-column">
          <div class="card border-0">
            <swiper-container
              class="img-box"
              navigation="true"
              slides-per-view="4"
            >
              <swiper-slide class="px-2 prod-cart" *ngFor="let p of products"
                ><img class="img-fluid w-100" [src]="p?.img" />
                <div class="text-box p-3">
                  <div class="d-flex justify-content-between">
                    <p class="cat-name">{{ p?.catName }}</p>
                    <h5 class="fw-bold prod-price">
                      {{ p?.price | currency }}
                    </h5>
                  </div>
                  <p class="prod-name">{{ p?.name }}</p>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 product medium-list">
      <div class="row product-row">
        <div class="col-12 product-column">
          <div class="card border-0">
            <swiper-container
              class="img-box"
              navigation="true"
              slides-per-view="3"
            >
              <swiper-slide class="px-2 prod-cart" *ngFor="let p of products"
                ><img class="img-fluid w-100" [src]="p?.img" />
                <div class="text-box p-3">
                  <div class="d-flex justify-content-between">
                    <p class="cat-name">{{ p?.catName }}</p>
                    <h5 class="fw-bold prod-price">
                      {{ p?.price | currency }}
                    </h5>
                  </div>
                  <p class="prod-name">{{ p?.name }}</p>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 product small-list">
      <div class="row product-row">
        <div class="col-12 product-column">
          <div class="card border-0">
            <swiper-container
              class="img-box"
              navigation="true"
              slides-per-view="2"
            >
              <swiper-slide class="px-2 prod-cart" *ngFor="let p of products"
                ><img class="img-fluid w-100" [src]="p?.img" />
                <div class="text-box p-3">
                  <div class="d-flex justify-content-between">
                    <p class="cat-name">{{ p?.catName }}</p>
                    <h5 class="fw-bold prod-price">
                      {{ p?.price | currency }}
                    </h5>
                  </div>
                  <p class="prod-name">{{ p?.name }}</p>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 py-4 d-flex flex-column align-items-center">
      <p class="section-heading">Templates</p>

      <div class="row">
        <div class="col-12 justify-content-evenly">
          <button
            type="button"
            class="btn btn-primary py-2 px-3 m-2"
            (click)="navigateTo('template/component-a')"
          >
            Component A
          </button>
          <button
            type="button"
            class="btn btn-primary py-2 px-3 m-2"
            (click)="navigateTo('template/component-b')"
          >
            Component B
          </button>
          <button
            type="button"
            class="btn btn-primary py-2 px-3 m-2"
            (click)="navigateTo('template/component-c')"
          >
            Component C
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
