* {
  margin: 0;
  padding: 0;
}
.section-heading {
  font-size: 3.2rem;
}
.large-list{
  display: block;
}
.medium-list{
  display: none;
}
.small-list{
  display: none;
}
.product {
  .product-row {
    padding: 2rem;
    .product-column {
      padding: 0 0.8rem;
    }
    .card {
      .prod-cart{
        &:hover {
          transform: scale(1.02);
          transition: transform 0.5s;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .cat-name{
          font-size: 0.75rem;
        }
      }
      .img-box {
        height: 90%;
        img {
          height: 55vh;
          object-fit: cover;
        }
      }
      .text-box {
        height: 10%;
      }
    }
  }
}
@media (max-width: 767px) {
  .section-heading {
    font-size: 2.25rem;
    padding: 1rem 0;
  }
  .product {
    padding: 0;
    .section-heading {
      font-size: 2rem;
    }
    .product-row {
      padding: 0 1rem;
      .product-column {
        .text-box {
          padding: 0.25rem !important;
          .cat-name {
            font-size: 0.75rem;
          }
          .cat-price {
            font-size: 0.4rem;
          }
          .prod-name {
            width: 50%;
            line-height: 1;
            font-size: 0.9rem;
          }
          .prod-price{
            font-size: 0.85rem;
          }
        }
        .card {
          .img-box {
            img {
              height: 55vw;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .large-list{
    display: none;
  }
  .medium-list{
    display: none;
  }
  .small-list{
    display: block;
  }
}
@media (min-width:768px) and (max-width:992px){
  .large-list{
    display: none;
  }
  .medium-list{
    display: block;
  }
  .small-list{
    display: none;
  }
}
.slide{
  height: 50px !important;
}