.generalmodalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #590059;
  background-color: #F0E6F0;
  border-radius: 10px;
  padding: 15px;

  p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }
}

.generalmodalBody {
    padding: 10px;

    .warningIcon {
        text-align: center;
        margin-bottom: 15px;

        i {
            font-size: 60px;
            color: #F9BB06;
        }
    }

    p {
        text-align: center;
        font-size: 16px;
        color: #131313;
        font-weight: 600;
    }
}

.generalmodalFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.button-style {
  padding: 10px 20px;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  font-size: clamp(10px, 1vw, 14px);
  border: 0;
  color: #616161;
  height: auto;
  font-weight: 500;
  cursor: pointer !important;
  transition: 0.3s all ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.purple-button {
  background-color: #f0e6f0;
  color: #590059;

  &.outline {
    border: 1px solid #590059;
    color: #590059;
    background-color: #fff;

    &:hover {
      background-color: #590059;
      color: #f0e6f0;
    }
  }
}
.red-button {
    background-color: #FFEEEB;
    color           : #db9581;

    &.outline {
      border          : 1px solid #db9581;
      color           : #db9581;
      background-color: #fff;

      &:hover {
        background-color: #db9581;
        color           : #FFEEEB;
      }
    }
  }