<div class="container-fluid pb-5">
  <div class="row justify-content-center">
    <div class="col-11">
      <p class="py-3 text-color-secondary pointer">
        <span (click)="navigateTo('/')">Home</span> / Create an account
      </p>
    </div>
    <div class="col-11 py-4">
      <h2>Create an account</h2>
    </div>
    <div class="col-11 px-3 py-4 border">
      <div class="row">
        <div class="col-12 px-3">
          <p class="pb-2">
            <i class="fa-regular fa-circle-question"></i>
            Already have an account?
            <span
              class="pointer text-decoration-underline"
              (click)="navigateTo('/auth/login')"
              >Log in instead!</span
            >
          </p>
          <form [formGroup]="registerForm" class="pb-3">
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label"
                  >Social title</label
                >
              </div>
              <div class="col-12 col-lg-2 d-flex me-3 my-1">
                <div class="d-flex px-2 align-items-center">
                  <input
                    class="form-check-input me-2 background-primary"
                    type="radio"
                    name="socialTitle"
                    id="socialTitle1"
                    value="Mr."
                    formControlName="socialTitle"
                  />
                  <label class="form-check-label" for="socialTitle1">Mr.</label>
                </div>
                <div class="d-flex px-2 align-items-center">
                  <input
                    class="form-check-input me-2 background-primary"
                    type="radio"
                    name="socialTitle"
                    id="socialTitle2"
                    value="Mrs."
                    formControlName="socialTitle"
                  />
                  <label class="form-check-label" for="socialTitle2"
                    >Mrs.</label
                  >
                </div>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label">Fname</label>
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <input
                  type="text"
                  class="form-control background-primary"
                  formControlName="firstName"
                />
                <p class="small-text text-muted mt-1">
                  Only letters and the dot (.) character, followed by a space,
                  are allowed.
                </p>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label"
                  >Last name</label
                >
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <input
                  type="text"
                  class="form-control background-primary"
                  formControlName="lastName"
                />
                <p class="small-text text-muted mt-1">
                  Only letters and the dot (.) character, followed by a space,
                  are allowed.
                </p>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label">Email</label>
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <input
                  type="email"
                  class="form-control background-primary"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label">Phone</label>
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <input
                  type="number"
                  class="form-control background-primary"
                  formControlName="phone"
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label"
                  >Password</label
                >
              </div>
              <div class="col-12 col-lg-9 me-3 my-1 password-input">
                <input
                  [type]="showEye ? 'password' : 'text'"
                  class="form-control background-primary"
                  formControlName="password"
                />
                @if(showEye){
                <div class="icon-box" (click)="showEye = !showEye">
                  <i class="fa-solid fa-eye-slash pointer"></i>
                </div>
                } @else{
                <div class="icon-box" (click)="showEye = !showEye">
                  <i class="fa-solid fa-eye pointer"></i>
                </div>
                }
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label"
                  >BirthDate</label
                >
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <div class="d-flex mb-1">
                  <input
                    type="date"
                    class="form-control background-primary"
                    placeholder="MM/DD/YYYY"
                    formControlName="DOB"
                  />
                  <div class="opt-box">Optional</div>
                </div>
                <p>(E.g.: 05/31/1970)</p>
              </div>
            </div>
            <!-- <div class="row my-3">
              <div class="col-12 col-lg-2 my-1"></div>
              <div class="col-12 col-lg-8 me-3 my-1">
                <div class="d-flex align-items-center my-2">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    id="inlineCheckbox1"
                    formControlName="isReceivedOffers"
                  />
                  <p>Receive offers from our partners</p>
                </div>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 my-1"></div>
              <div class="col-12 col-lg-8 me-3 my-1">
                <div class="d-flex align-items-center my-2">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    id="inlineCheckbox1"
                    formControlName="isSignUpNewsletter"
                  />
                  <p>Sign up for our newsletter</p>
                </div>
                <i
                  >You may unsubscribe at any moment. For that purpose, please find
                  our contact info in the legal notice.</i
                >
              </div>
            </div> -->
            <div class="row my-3 justify-content-center">
              <div class="col-3 col-md-2 col-lg-2">
                <button
                  class="btn bg-dark p-2 w-100 text-light rounded-0"
                  (click)="submit()"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
