<div class="container-fluid pb-5">
  <div class="row justify-content-center">
    <div class="col-11">
      <p class="py-3 text-color-secondary pointer">
        <span (click)="navigateTo('/')">Home</span> / Create an account
      </p>
    </div>
    <div class="col-11 py-4">
      <h2>Create an account</h2>
    </div>
    <div class="col-11 px-3 py-4 border">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6 px-3">
          <p class="pb-2">
            <i class="fa-regular fa-circle-question"></i>
            Already have an account?
            <span
              class="pointer text-decoration-underline"
              (click)="navigateTo('/auth/login')"
              >Log in instead!</span
            >
          </p>
          <form [formGroup]="registerForm" class="pb-3">
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label"
                  >Social title</label
                >
              </div>
              <div class="col-12 col-lg-2 d-flex me-3 my-1">
                <div class="d-flex px-2 align-items-center">
                  <input
                    class="form-check-input me-2 background-primary"
                    type="radio"
                    name="socialTitle"
                    id="socialTitle1"
                    value="Mr."
                    formControlName="socialTitle"
                  />
                  <label class="form-check-label" for="socialTitle1">Mr.</label>
                </div>
                <div class="d-flex px-2 align-items-center">
                  <input
                    class="form-check-input me-2 background-primary"
                    type="radio"
                    name="socialTitle"
                    id="socialTitle2"
                    value="Mrs."
                    formControlName="socialTitle"
                  />
                  <label class="form-check-label" for="socialTitle2"
                    >Mrs.</label
                  >
                </div>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label">Fname</label>
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <input
                  type="text"
                  class="form-control background-primary"
                  formControlName="firstName"
                />
                <p class="small-text text-muted mt-1">
                  Only letters and the dot (.) character, followed by a space,
                  are allowed.
                </p>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label"
                  >Last name</label
                >
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <input
                  type="text"
                  class="form-control background-primary"
                  formControlName="lastName"
                />
                <p class="small-text text-muted mt-1">
                  Only letters and the dot (.) character, followed by a space,
                  are allowed.
                </p>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label">Email</label>
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <input
                  type="email"
                  class="form-control background-primary"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label">Phone</label>
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <input
                  type="number"
                  class="form-control background-primary"
                  formControlName="mobile"
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label"
                  >Password</label
                >
              </div>
              <div class="col-12 col-lg-9 me-3 my-1 password-input">
                <input
                  [type]="showEye ? 'password' : 'text'"
                  class="form-control background-primary"
                  formControlName="password"
                />
                @if(showEye){
                <div class="icon-box" (click)="showEye = !showEye">
                  <i class="fa-solid fa-eye-slash pointer"></i>
                </div>
                } @else{
                <div class="icon-box" (click)="showEye = !showEye">
                  <i class="fa-solid fa-eye pointer"></i>
                </div>
                }
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                <label for="inputPassword6" class="col-form-label"
                  >BirthDate</label
                >
              </div>
              <div class="col-12 col-lg-9 me-3 my-1">
                <div class="d-flex mb-1">
                  <input
                    type="date"
                    class="form-control background-primary"
                    placeholder="MM/DD/YYYY"
                    formControlName="DOB"
                  />
                  <div class="opt-box">Optional</div>
                </div>
                <p>(E.g.: 05/31/1970)</p>
              </div>
            </div>
            <!-- <div class="row my-3">
              <div class="col-12 col-lg-2 my-1"></div>
              <div class="col-12 col-lg-8 me-3 my-1">
                <div class="d-flex align-items-center my-2">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    id="inlineCheckbox1"
                    formControlName="isReceivedOffers"
                  />
                  <p>Receive offers from our partners</p>
                </div>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-2 my-1"></div>
              <div class="col-12 col-lg-8 me-3 my-1">
                <div class="d-flex align-items-center my-2">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    id="inlineCheckbox1"
                    formControlName="isSignUpNewsletter"
                  />
                  <p>Sign up for our newsletter</p>
                </div>
                <i
                  >You may unsubscribe at any moment. For that purpose, please find
                  our contact info in the legal notice.</i
                >
              </div>
            </div> -->
            <div class="row my-3 justify-content-center">
              <div class="col-3 col-md-2 col-lg-2">
                <button
                  class="btn bg-dark p-2 w-100 text-light rounded-0"
                  (click)="submit()"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-md-12 col-lg-6 px-3 address-column border-start">
          <div *ngIf="showAddressForm" class="row justify-content-center">
            <div class="col-6 mb-4">
              <h3 class="text-center">Create Address</h3>
            </div>
            <form [formGroup]="addressForm" class="pb-3">
              <div class="row my-3">
                <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                  <label for="inputPassword6" class="col-form-label"
                    >Name</label
                  >
                </div>
                <div class="col-12 col-lg-9 d-flex me-3 my-1">
                  <input
                    type="text"
                    class="form-control background-primary"
                    formControlName="name"
                  />
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                  <label for="inputPassword6" class="col-form-label"
                    >location</label
                  >
                </div>
                <div class="col-12 col-lg-9 me-3 my-1">
                  <textarea
                    formControlName="location"
                    class="form-control background-primary"
                  ></textarea>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                  <label for="inputPassword6" class="col-form-label"
                    >country</label
                  >
                </div>
                <div class="col-12 col-lg-9 me-3 my-1">
                  <input
                    type="text"
                    class="form-control background-primary"
                    formControlName="country"
                  />
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                  <label for="inputPassword6" class="col-form-label"
                    >state</label
                  >
                </div>
                <div class="col-12 col-lg-9 me-3 my-1">
                  <input
                    type="text"
                    class="form-control background-primary"
                    formControlName="state"
                  />
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                  <label for="inputPassword6" class="col-form-label"
                    >City</label
                  >
                </div>
                <div class="col-12 col-lg-9 me-3 my-1">
                  <input
                    type="text"
                    class="form-control background-primary"
                    formControlName="city"
                  />
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                  <label for="inputPassword6" class="col-form-label"
                    >Pin code</label
                  >
                </div>
                <div class="col-12 col-lg-9 my-1 me-3">
                  <input
                    type="number"
                    class="form-control background-primary"
                    formControlName="pinCode"
                  />
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12 col-lg-2 d-flex align-items-center my-1">
                  <label for="inputPassword6" class="col-form-label"
                    >Type</label
                  >
                </div>
                <div class="col-12 col-lg-2 d-flex me-3 my-1">
                  <div class="d-flex px-2 align-items-center">
                    <input
                      class="form-check-input me-2 background-primary"
                      type="radio"
                      name="type"
                      id="typeHome"
                      value="home"
                      formControlName="type"
                    />
                    <label class="form-check-label" for="typeHome">Home</label>
                  </div>
                  <div class="d-flex px-2 align-items-center">
                    <input
                      class="form-check-input me-2 background-primary"
                      type="radio"
                      name="type"
                      id="typeWork"
                      value="work"
                      formControlName="type"
                    />
                    <label class="form-check-label" for="typeWork">Work</label>
                  </div>
                  <div class="d-flex px-2 align-items-center">
                    <input
                      class="form-check-input me-2 background-primary"
                      type="radio"
                      name="type"
                      id="typeOther"
                      value="other"
                      formControlName="type"
                    />
                    <label class="form-check-label" for="typeOther"
                      >Other</label
                    >
                  </div>
                </div>
              </div>
              <div class="row my-3 justify-content-center">
                <div class="col-3 col-md-2 col-lg-2">
                  <button
                    class="btn bg-dark p-2 w-100 text-light rounded-0"
                    (click)="showAddressForm = !showAddressForm"
                  >
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="!showAddressForm" class="row pb-2">
            <div class="col-4 mb-5">
              <button
                (click)="showAddressForm = !showAddressForm"
                class="btn px-3 py-2 btn-dark rounded-0"
              >
                <i class="fa-solid fa-plus"></i>
                Add a new address
              </button>
            </div>
            <div class="col-12 mb-3">
              <span class="small-text text-muted">
                {{ allAddresses.length }} SAVED  {{ allAddresses.length == 1 ? "ADDRESS"  : "ADDRESSES"}} 
              </span>
            </div>
            <div
              *ngFor="let add of allAddresses"
              class="col-12 card position-relative p-4 mb-4"
            >
              <div class="row">
                <div class="col-9">
                  <div class="d-flex mb-3 align-items-center">
                    <p>{{add?.name}}</p>
                    <span class="bg-light small-text text-muted p-1 ms-2"
                      >{{add.type}}</span
                    >
                  </div>
                  <p class="mb-3">
                    {{add?.location}}
                  </p>
                  <p>{{add?.mobile}}</p>
                </div>
                <div class="col-3 d-flex justify-content-end">
                  <span *ngIf="showMenu" (click)="showMenu = !showMenu">
                    <i class="pointer fa-solid fa-ellipsis-vertical"></i>
                  </span>
                  <div *ngIf="!showMenu" class="row address-action bg-light">
                    <span
                      class="col-12 h-50 d-flex align-items-center p-3 pointer"
                      (click)="edit(add)"
                    >
                      Edit
                    </span>
                    <span
                      class="col-12 h-50 d-flex align-items-center p-3 pointer"
                      (click)="deleteAdd(add?.id)"
                    >
                      Delete
                    </span>
                  </div>
                  <div [class.bg-success]="add.isDefault" class="badge pointer">
                    <span [class.text-light]="add.isDefault" [class.text-dark]="!add.isDefault" >Set Default</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
