<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
          <div class="row w-100 justify-content-between">
            <div class="col-12 col-lg-11">
              <p class="py-3 text-color-primary pointer">
                <span (click)="navigateTo('/')">Home</span> /
                <span>Bespoke, by you</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-11">
      <div class="row justify-content-between py-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3">
          <p>
            When we decided to launch The Peacock Collective, one of the
            questions that often came to mind was - “What ticks us?”. After
            countless market visits, picking one-of-a-kind fabrics, and
            traveling around India to pick the choicest laces and
            embellishments, our light-bulb moment was realizing that “solving
            problems” ticks us! "Bespoke - By, You", is our little design hub
            where your dream attire becomes a reality, crafted with passion and
            precision. We believe that clothing is more than just fabric and
            thread; it's a reflection of your personality, your aspirations, and
            your unique style. That's why, we're not just tailors; we're
            creators, collaborators, and problem-solvers dedicated to bringing
            your vision to life
          </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3">
          <p>
            We are committed to inclusivity in design, and ensure that the outfit fits you, rather than the other way around. Imagine a wardrobe where every piece tells a story, where every stitch is a testament to your individuality. With over 25 years of collective experience in bespoke tailoring, our team of karigars combine craftsmanship with creativity to deliver garments that are not only impeccably tailored but also imbued with your personal touch. 
          </p>
        </div>
      </div>
      <div class="row justify-content-between py-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3">
          <p>
            “When I was building out my wedding trousseau, I ventured into every market and handloom store I possibly could. Picked out pearls for my sangeet outfit, and found the perfect organza dupatta to be dyed in the shade of my choice. I truly enjoyed the process and watched every bit of my outfit come together. That was when I realized that this journey is truly precious. As a bride, it meant the world to me, and I want to extend that feeling to you, through this brand. Your story deserves to be told through impeccable craftsmanship and uncompromising quality. Together, let's create something extraordinary, just for you.”
          </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3">
          <p>
            We believe that every client deserves to be an integral part of the creative process. From the initial consultation to the final fitting, we work closely with you, listening to your ideas, understanding your preferences, and translating them into reality. We pride ourselves in our meticulous attention to detail, choosing the finest fabrics and embellishments and creating garments that look and feel luxurious. Whether you're envisioning a timeless trousseau piece or a show-stopping ensemble for a special occasion, our team is dedicated to making your sartorial dreams come true. 
          </p>
        </div>
      </div>
      <div class="row justify-content-between py-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3">
          <p>
            At The Peacock Collective, we celebrate individuality. No two clients are alike, and neither are our creations. Whether you prefer classic elegance, avant-garde innovation, or something uniquely in between, our skilled artisans are here to tailor a design that speaks to your style and sensibility. We pride ourselves on solving design challenges that mass-manufactured clothing simply cannot address, ensuring that your bespoke piece fits flawlessly and functions beautifully.
            We invite you to immerse yourself in the journey of creating something truly extraordinary, where every decision is made with care and consideration for your vision. 
            
          </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3">
          <p>
            This should be followed by an interactive, dynamic form-
            Please enter the below details and we will reach out to you within the next 24-48 hours via email. The form will take you anywhere between 3-5 minutes to fill out, and it will ensure we are equipped with all the details we need to carry forward with your consultation. 
            
          </p>
        </div>
      </div>
    </div>
    <div class="col-11 my-5 background-primary py-3">
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <form [formGroup]="bespokeForm" class="w-100">
            <div class="row justify-content-between">
              <!-- <div class="col-12 mt-3 px-4">
                <p class="header-text">
                  We’d love to hear about your event and your ideas -
                </p>
              </div>
              <div class="col-12 col-md-12 col-lg-6 mb-2 px-4 pt-2">
                <label class="form-label mb-2"
                  >What outfit category are you looking for?
                </label>
                <select
                  formControlName="category"
                  class="form-control"
                  (change)="onCategoryChange($event)"
                >
                  <option value="bridal">Bridal</option>
                  <option value="bridalParty">
                    Bridal Party (order of >3)
                  </option>
                  <option value="ofTheBride">Mother/Sister of the Bride</option>
                  <option value="familyEventAttire">Family event attire</option>
                  <option value="nonBridal">Non-Bridal</option>
                  <option value="weddingGuest">Wedding Guest</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div
                *ngIf="isOther"
                class="col-12 col-md-12 col-lg-6 mb-2 px-4 pt-2"
              >
                <label class="form-label mb-2">Other </label>
                <input
                  [(ngModel)]="otherCategory"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Other"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="col-12 mt-3 px-4">
                <p class="header-text">Event Timeline</p>
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 pt-2 pb-3 mb-4"
              >
                <label class="form-label flex-nowrap me-3">From Date</label>
                <input
                  formControlName="fromDate"
                  type="date"
                  class="form-control"
                />
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 pt-2 pb-3 mb-4"
              >
                <label class="form-label d-flex flex-nowrap me-3"
                  >To Date</label
                >
                <input
                  formControlName="toDate"
                  type="date"
                  class="form-control"
                />
              </div>
              <div class="col-12 mt-3 px-4">
                <p class="header-text">
                  What outfit are you envisioning for your event(s)?
                </p>
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-2 mb-4"
              >
                <input
                  formControlName="eventOutfit"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="col-12 mt-3 px-4">
                <p class="header-text">
                  Are you also looking to explore jewelry options?
                </p>
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-2 mb-4"
              >
                <select formControlName="jewelryOption" class="form-control">
                  <option *ngFor="let opt of jewelryOption" [value]="opt.value">
                    {{ opt.label }}
                  </option>
                </select>
              </div>
              <div class="col-12 mt-3 px-4">
                <p class="header-text">Can you share some images with us?</p>
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex flex-column justify-content-center px-4 py-2 mb-4"
              >
                <input
                  placeholder="image"
                  type="file"
                  class="form-control"
                  [multiple]="true"
                  accept=".png,.jpeg,.jpg,.pdf,.svg,.gif"
                  (change)="fileChosen($event)"
                />
              </div>
              <div class="col-12">
                <div class="row mt-3" *ngIf="files.length">
                  <div
                    class="col-6 col-sm-4 col-md-4 col-lg-3 ps-0 mb-3 image-col"
                    *ngFor="let file of files"
                  >
                    <img
                      height="300"
                      class="w-100 new-img p-2"
                      [src]="file.url"
                      alt="image"
                    />
                    <div class="delete-badge" (click)="imageDelete()">
                      <i class="fa-solid fa-xmark"></i>
                    </div>
                  </div>
                </div>
              </div> -->
              <div id="stepper1" class="bs-stepper linear">
                <div class="bs-stepper-header" role="tablist">
                  <div class="step active" data-target="#test-l-1">
                    <button
                      type="button"
                      class="step-trigger btn"
                      role="tab"
                      id="stepper1trigger1"
                      aria-controls="test-l-1"
                      aria-selected="false"
                      disabled="disabled"
                    >
                      <span class="bs-stepper-circle">1</span>
                      <span class="bs-stepper-label">Step 1</span>
                    </button>
                  </div>
                  <div class="bs-stepper-line"></div>
                  <div class="step" data-target="#test-l-2">
                    <button
                      type="button"
                      class="step-trigger"
                      role="tab"
                      id="stepper1trigger2"
                      aria-controls="test-l-2"
                      aria-selected="true"
                    >
                      <span class="bs-stepper-circle">2</span>
                      <span class="bs-stepper-label">Step 2</span>
                    </button>
                  </div>
                  <div class="bs-stepper-line"></div>
                  <div class="step" data-target="#test-l-3">
                    <button
                      type="button"
                      class="step-trigger"
                      role="tab"
                      id="stepper1trigger3"
                      aria-controls="test-l-3"
                      aria-selected="false"
                      disabled="disabled"
                    >
                      <span class="bs-stepper-circle">3</span>
                      <span class="bs-stepper-label">Step 3</span>
                    </button>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-11">
                    <!-- <p>
                      Please enter the below details and we will reach out to
                      you within the next 24-48 hours via email. The form will
                      take you anywhere between 3-5 minutes to fill out, and it
                      will ensure we are equipped with all the details we need
                      to carry forward with your consultation.
                    </p> -->
                    <p>
                      To get to know you better, we’d love to get some of your
                      details first.
                    </p>
                  </div>
                </div>
                <div class="bs-stepper-content">
                  <div
                    id="test-l-1"
                    role="tabpanel"
                    class="bs-stepper-pane active dstepper-block"
                    aria-labelledby="stepper1trigger1"
                  >
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-11">
                          <div class="row">
                            <!-- <div class="col-12">
                              <p class="header-text">
                                To get to know you better, we’d love to get some
                                of your details first.
                              </p>
                            </div> -->
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3"
                            >
                              <label class="form-label d-flex me-3"
                                >Name <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="name"
                                placeholder="Name"
                                type="text"
                                class="form-control"
                              />
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3"
                            >
                              <label class="form-label d-flex me-3"
                                >City <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="city"
                                placeholder="City"
                                type="text"
                                class="form-control"
                              />
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3"
                            >
                              <label class="form-label d-flex me-3"
                                >Country
                                <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="country"
                                placeholder="Country"
                                type="text"
                                class="form-control"
                              />
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3"
                            >
                              <label class="form-label d-flex me-3"
                                >Phone <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="mobile"
                                placeholder="Phone"
                                type="number"
                                class="form-control"
                              />
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3 mb-4"
                            >
                              <label class="form-label d-flex me-3"
                                >Email <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="email"
                                placeholder="Email"
                                type="email"
                                class="form-control"
                              />
                            </div>
                            <div class="col-12">
                              <div class="row justify-content-center">
                                <div class="col-4 col-md-2 col-lg-2">
                                  <button
                                    class="btn btn-dark py-2"
                                    (click)="next(2)"
                                  >
                                    Next
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="test-l-2"
                    role="tabpanel"
                    class="bs-stepper-pane"
                    aria-labelledby="stepper1trigger2"
                  >
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <div class="row justify-content-center">
                            <div class="col-12">
                              <div class="row">
                                <div class="col-12 mt-3 px-4">
                                  <p class="header-text">
                                    We’d love to hear about your event and your
                                    ideas -
                                  </p>
                                </div>
                                <div
                                  class="col-12 col-md-12 col-lg-6 mb-2 px-4 pt-2"
                                >
                                  <label class="form-label mb-2"
                                    >What outfit category are you looking for? <span class="text-danger">*</span>
                                  </label>
                                  <select
                                    formControlName="category"
                                    class="form-control"
                                    (change)="onCategoryChange($event)"
                                  >
                                    <option value="bridal">Bridal</option>
                                    <option value="bridalParty">
                                      Bridal Party (order of >3)
                                    </option>
                                    <option value="ofTheBride">
                                      Mother/Sister of the Bride
                                    </option>
                                    <option value="familyEventAttire">
                                      Family event attire
                                    </option>
                                    <option value="nonBridal">
                                      Non-Bridal
                                    </option>
                                    <option value="weddingGuest">
                                      Wedding Guest
                                    </option>
                                    <option value="other">Other</option>
                                  </select>
                                </div>
                                <div
                                  *ngIf="isOther"
                                  class="col-12 col-md-12 col-lg-6 mb-2 px-4 pt-2"
                                >
                                  <label class="form-label mb-2">Other </label>
                                  <input
                                    [(ngModel)]="otherCategory"
                                    [ngModelOptions]="{ standalone: true }"
                                    placeholder="Other"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 mt-3 px-4">
                                  <p class="header-text">Event Timeline <span class="text-danger">*</span></p>
                                </div>
                                <div
                                  class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 pt-2 pb-3 mb-4"
                                >
                                  <label class="form-label flex-nowrap me-3"
                                    >From Date</label
                                  >
                                  <input
                                    formControlName="fromDate"
                                    type="date"
                                    class="form-control"
                                  />
                                </div>
                                <div
                                  class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 pt-2 pb-3 mb-4"
                                >
                                  <label
                                    class="form-label d-flex flex-nowrap me-3"
                                    >To Date</label
                                  >
                                  <input
                                    formControlName="toDate"
                                    type="date"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-12 col-lg-6">
                                  <div class="row">
                                    <div class="col-12 mt-3 px-4">
                                      <p class="header-text">
                                        What outfit are you envisioning for your
                                        event(s)? <span class="text-danger">*</span>
                                      </p>
                                    </div>
                                    <div
                                      class="col-12 d-flex align-items-center px-4 py-2 mb-4"
                                    >
                                      <input
                                        formControlName="eventOutfit"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-6">
                                  <div class="row">
                                    <div class="col-12 mt-3 px-4">
                                      <p class="header-text">
                                        Are you also looking to explore jewelry
                                        options? <span class="text-danger">*</span>
                                      </p>
                                    </div>
                                    <div
                                      class="col-12 d-flex align-items-center px-4 py-2 mb-4"
                                    >
                                      <select
                                        formControlName="jewelryOption"
                                        class="form-control"
                                      >
                                        <option
                                          *ngFor="let opt of jewelryOption"
                                          [value]="opt.value"
                                        >
                                          {{ opt.label }}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-4 col-md-2 col-lg-2 me-2">
                              <button
                                class="btn btn-dark py-2"
                                (click)="previous(1)"
                              >
                                Previous
                              </button>
                            </div>
                            <div class="col-4 col-md-2 col-lg-2">
                              <button
                                class="btn btn-dark py-2"
                                (click)="next(3)"
                              >
                                Next
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="test-l-3"
                    role="tabpanel"
                    class="bs-stepper-pane text-center"
                    aria-labelledby="stepper1trigger3"
                  >
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-12 mt-3 px-4">
                              <p class="header-text text-start">
                                Can you share some images with us? <span class="text-danger">*</span>
                              </p>
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex flex-column justify-content-center px-4 py-2 mb-4"
                            >
                              <input
                                placeholder="image"
                                type="file"
                                class="form-control"
                                [multiple]="true"
                                #attachments
                                accept=".png,.jpeg,.jpg,.pdf,.svg,.gif"
                                (change)="fileChosen($event)"
                              />
                            </div>
                            <div class="col-12">
                              <div class="row mt-3" *ngIf="files.length">
                                <div
                                  class="col-6 col-sm-4 col-md-4 col-lg-3 ps-0 mb-3 image-col"
                                  *ngFor="let file of files"
                                >
                                  <img
                                    height="300"
                                    class="w-100 new-img p-2"
                                    [src]="file.url"
                                    alt="image"
                                  />
                                  <div
                                    class="delete-badge"
                                    (click)="imageDelete()"
                                  >
                                    <i class="fa-solid fa-xmark"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 col-md-2 col-lg-2 me-2">
                          <button
                            class="btn btn-dark py-2"
                            (click)="previous(2)"
                          >
                            Previous
                          </button>
                        </div>
                        <div class="col-4 col-md-2 col-lg-2">
                          <button class="btn btn-dark py-2" (click)="submit()">
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row justify-content-center">
              <div class="col-6 col-md-4 col-lg-2">
                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-dark py-2 me-2"
                    (click)="reset()"
                  >
                    Reset
                  </button>
                  <button
                    type="submit"
                    class="btn btn-dark py-2"
                    (click)="submit()"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
