* {
  padding: 0;
  margin: 0;
}
.header-text {
  font-size: 1.25rem;
  font-weight: 500;
}
.image-col {
  position: relative;
  .delete-badge {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #bb2124;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: #fff;
    }
  }
}
.bs-stepper-circle {
  display: flex;
  align-items: center;
}
.step-trigger {
  display: flex;
  flex-direction: column;
}