<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
          <div class="row w-100 justify-content-between">
            <div class="col-12 col-lg-11">
              <p class="py-3 text-color-primary pointer">
                <span (click)="navigateTo('/')">Home</span> /
                <span>Bespoke, by you</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-11 mt-5 background-primary py-5">
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <form [formGroup]="bespokeForm" class="w-100">
            <div class="row justify-content-between">
              <!-- <div class="col-12 mt-3 px-4">
                <p class="header-text">
                  We’d love to hear about your event and your ideas -
                </p>
              </div>
              <div class="col-12 col-md-12 col-lg-6 mb-2 px-4 pt-2">
                <label class="form-label mb-2"
                  >What outfit category are you looking for?
                </label>
                <select
                  formControlName="category"
                  class="form-control"
                  (change)="onCategoryChange($event)"
                >
                  <option value="bridal">Bridal</option>
                  <option value="bridalParty">
                    Bridal Party (order of >3)
                  </option>
                  <option value="ofTheBride">Mother/Sister of the Bride</option>
                  <option value="familyEventAttire">Family event attire</option>
                  <option value="nonBridal">Non-Bridal</option>
                  <option value="weddingGuest">Wedding Guest</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div
                *ngIf="isOther"
                class="col-12 col-md-12 col-lg-6 mb-2 px-4 pt-2"
              >
                <label class="form-label mb-2">Other </label>
                <input
                  [(ngModel)]="otherCategory"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Other"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="col-12 mt-3 px-4">
                <p class="header-text">Event Timeline</p>
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 pt-2 pb-3 mb-4"
              >
                <label class="form-label flex-nowrap me-3">From Date</label>
                <input
                  formControlName="fromDate"
                  type="date"
                  class="form-control"
                />
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 pt-2 pb-3 mb-4"
              >
                <label class="form-label d-flex flex-nowrap me-3"
                  >To Date</label
                >
                <input
                  formControlName="toDate"
                  type="date"
                  class="form-control"
                />
              </div>
              <div class="col-12 mt-3 px-4">
                <p class="header-text">
                  What outfit are you envisioning for your event(s)?
                </p>
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-2 mb-4"
              >
                <input
                  formControlName="eventOutfit"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="col-12 mt-3 px-4">
                <p class="header-text">
                  Are you also looking to explore jewelry options?
                </p>
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-2 mb-4"
              >
                <select formControlName="jewelryOption" class="form-control">
                  <option *ngFor="let opt of jewelryOption" [value]="opt.value">
                    {{ opt.label }}
                  </option>
                </select>
              </div>
              <div class="col-12 mt-3 px-4">
                <p class="header-text">Can you share some images with us?</p>
              </div>
              <div
                class="col-12 col-md-12 col-lg-6 d-flex flex-column justify-content-center px-4 py-2 mb-4"
              >
                <input
                  placeholder="image"
                  type="file"
                  class="form-control"
                  [multiple]="true"
                  accept=".png,.jpeg,.jpg,.pdf,.svg,.gif"
                  (change)="fileChosen($event)"
                />
              </div>
              <div class="col-12">
                <div class="row mt-3" *ngIf="files.length">
                  <div
                    class="col-6 col-sm-4 col-md-4 col-lg-3 ps-0 mb-3 image-col"
                    *ngFor="let file of files"
                  >
                    <img
                      height="300"
                      class="w-100 new-img p-2"
                      [src]="file.url"
                      alt="image"
                    />
                    <div class="delete-badge" (click)="imageDelete()">
                      <i class="fa-solid fa-xmark"></i>
                    </div>
                  </div>
                </div>
              </div> -->
              <div id="stepper1" class="bs-stepper linear">
                <div class="bs-stepper-header" role="tablist">
                  <div class="step active" data-target="#test-l-1">
                    <button
                      type="button"
                      class="step-trigger btn"
                      role="tab"
                      id="stepper1trigger1"
                      aria-controls="test-l-1"
                      aria-selected="false"
                      disabled="disabled"
                    >
                      <span class="bs-stepper-circle">1</span>
                      <span class="bs-stepper-label">Step 1</span>
                    </button>
                  </div>
                  <div class="bs-stepper-line"></div>
                  <div class="step" data-target="#test-l-2">
                    <button
                      type="button"
                      class="step-trigger"
                      role="tab"
                      id="stepper1trigger2"
                      aria-controls="test-l-2"
                      aria-selected="true"
                    >
                      <span class="bs-stepper-circle">2</span>
                      <span class="bs-stepper-label">Step 2</span>
                    </button>
                  </div>
                  <div class="bs-stepper-line"></div>
                  <div class="step" data-target="#test-l-3">
                    <button
                      type="button"
                      class="step-trigger"
                      role="tab"
                      id="stepper1trigger3"
                      aria-controls="test-l-3"
                      aria-selected="false"
                      disabled="disabled"
                    >
                      <span class="bs-stepper-circle">3</span>
                      <span class="bs-stepper-label">Step 3</span>
                    </button>
                  </div>
                </div>
                <div class="bs-stepper-content">
                  <div
                    id="test-l-1"
                    role="tabpanel"
                    class="bs-stepper-pane active dstepper-block"
                    aria-labelledby="stepper1trigger1"
                  >
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-11">
                          <div class="row">
                            <div class="col-12">
                              <p class="header-text">
                                To get to know you better, we’d love to get some
                                of your details first.
                              </p>
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3"
                            >
                              <label class="form-label d-flex me-3"
                                >Name <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="name"
                                placeholder="Name"
                                type="text"
                                class="form-control"
                              />
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3"
                            >
                              <label class="form-label d-flex me-3"
                                >City <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="city"
                                placeholder="City"
                                type="text"
                                class="form-control"
                              />
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3"
                            >
                              <label class="form-label d-flex me-3"
                                >Country
                                <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="country"
                                placeholder="Country"
                                type="text"
                                class="form-control"
                              />
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3"
                            >
                              <label class="form-label d-flex me-3"
                                >Phone <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="mobile"
                                placeholder="Phone"
                                type="number"
                                class="form-control"
                              />
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 py-3 mb-4"
                            >
                              <label class="form-label d-flex me-3"
                                >Email <span class="text-danger">*</span></label
                              >
                              <input
                                formControlName="email"
                                placeholder="Email"
                                type="email"
                                class="form-control"
                              />
                            </div>
                            <div class="col-12">
                              <div class="row justify-content-center">
                                <div class="col-4 col-md-2 col-lg-2">
                                  <button
                                    class="btn btn-dark py-2"
                                    (click)="next(2)"
                                  >
                                    Next
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="test-l-2"
                    role="tabpanel"
                    class="bs-stepper-pane"
                    aria-labelledby="stepper1trigger2"
                  >
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <div class="row justify-content-center">
                            <div class="col-12">
                              <div class="row">
                                <div class="col-12 mt-3 px-4">
                                  <p class="header-text">
                                    We’d love to hear about your event and your
                                    ideas -
                                  </p>
                                </div>
                                <div
                                  class="col-12 col-md-12 col-lg-6 mb-2 px-4 pt-2"
                                >
                                  <label class="form-label mb-2"
                                    >What outfit category are you looking for?
                                  </label>
                                  <select
                                    formControlName="category"
                                    class="form-control"
                                    (change)="onCategoryChange($event)"
                                  >
                                    <option value="bridal">Bridal</option>
                                    <option value="bridalParty">
                                      Bridal Party (order of >3)
                                    </option>
                                    <option value="ofTheBride">
                                      Mother/Sister of the Bride
                                    </option>
                                    <option value="familyEventAttire">
                                      Family event attire
                                    </option>
                                    <option value="nonBridal">
                                      Non-Bridal
                                    </option>
                                    <option value="weddingGuest">
                                      Wedding Guest
                                    </option>
                                    <option value="other">Other</option>
                                  </select>
                                </div>
                                <div
                                  *ngIf="isOther"
                                  class="col-12 col-md-12 col-lg-6 mb-2 px-4 pt-2"
                                >
                                  <label class="form-label mb-2">Other </label>
                                  <input
                                    [(ngModel)]="otherCategory"
                                    [ngModelOptions]="{ standalone: true }"
                                    placeholder="Other"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 mt-3 px-4">
                                  <p class="header-text">Event Timeline</p>
                                </div>
                                <div
                                  class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 pt-2 pb-3 mb-4"
                                >
                                  <label class="form-label flex-nowrap me-3"
                                    >From Date</label
                                  >
                                  <input
                                    formControlName="fromDate"
                                    type="date"
                                    class="form-control"
                                  />
                                </div>
                                <div
                                  class="col-12 col-md-12 col-lg-6 d-flex align-items-center px-4 pt-2 pb-3 mb-4"
                                >
                                  <label
                                    class="form-label d-flex flex-nowrap me-3"
                                    >To Date</label
                                  >
                                  <input
                                    formControlName="toDate"
                                    type="date"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-12 col-lg-6">
                                  <div class="row">
                                    <div class="col-12 mt-3 px-4">
                                      <p class="header-text">
                                        What outfit are you envisioning for your
                                        event(s)?
                                      </p>
                                    </div>
                                    <div
                                      class="col-12 d-flex align-items-center px-4 py-2 mb-4"
                                    >
                                      <input
                                        formControlName="eventOutfit"
                                        type="text"
                                        class="form-control"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-6">
                                  <div class="row">
                                    <div class="col-12 mt-3 px-4">
                                      <p class="header-text">
                                        Are you also looking to explore jewelry
                                        options?
                                      </p>
                                    </div>
                                    <div
                                      class="col-12 d-flex align-items-center px-4 py-2 mb-4"
                                    >
                                      <select
                                        formControlName="jewelryOption"
                                        class="form-control"
                                      >
                                        <option
                                          *ngFor="let opt of jewelryOption"
                                          [value]="opt.value"
                                        >
                                          {{ opt.label }}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-4 col-md-2 col-lg-2 me-2">
                              <button
                                class="btn btn-dark py-2"
                                (click)="previous(1)"
                              >
                                Previous
                              </button>
                            </div>
                            <div class="col-4 col-md-2 col-lg-2">
                              <button
                                class="btn btn-dark py-2"
                                (click)="next(3)"
                              >
                                Next
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="test-l-3"
                    role="tabpanel"
                    class="bs-stepper-pane text-center"
                    aria-labelledby="stepper1trigger3"
                  >
                    <div class="container">
                      <div class="row  justify-content-center">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-12 mt-3 px-4">
                              <p class="header-text text-start">
                                Can you share some images with us?
                              </p>
                            </div>
                            <div
                              class="col-12 col-md-12 col-lg-6 d-flex flex-column justify-content-center px-4 py-2 mb-4"
                            >
                              <input
                                placeholder="image"
                                type="file"
                                class="form-control"
                                [multiple]="true"
                                accept=".png,.jpeg,.jpg,.pdf,.svg,.gif"
                                (change)="fileChosen($event)"
                              />
                            </div>
                            <div class="col-12">
                              <div class="row mt-3" *ngIf="files.length">
                                <div
                                  class="col-6 col-sm-4 col-md-4 col-lg-3 ps-0 mb-3 image-col"
                                  *ngFor="let file of files"
                                >
                                  <img
                                    height="300"
                                    class="w-100 new-img p-2"
                                    [src]="file.url"
                                    alt="image"
                                  />
                                  <div
                                    class="delete-badge"
                                    (click)="imageDelete()"
                                  >
                                    <i class="fa-solid fa-xmark"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 col-md-2 col-lg-2 me-2">
                          <button
                            class="btn btn-dark py-2"
                            (click)="previous(2)"
                          >
                            Previous
                          </button>
                        </div>
                        <div class="col-4 col-md-2 col-lg-2">
                          <button
                            class="btn btn-dark py-2"
                            (click)="submit()"
                          >
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row justify-content-center">
              <div class="col-6 col-md-4 col-lg-2">
                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-dark py-2 me-2"
                    (click)="reset()"
                  >
                    Reset
                  </button>
                  <button
                    type="submit"
                    class="btn btn-dark py-2"
                    (click)="submit()"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
