<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <p class="py-3 text-color-primary pointer">
        <span (click)="navigateTo('/')">Home</span> /
        <span>Cart</span>
      </p>
    </div>
    <div class="col-11 py-4 mb-3">
      <h1 class="text-center regular-weight">Shopping Cart</h1>
    </div>
    <div class="col-11">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-8 px-3 left-part">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
              <div
                class="row product-container"
                *ngFor="let p of carts; let i = index"
              >
                <div class="col-11 d-flex align-items-center">
                  <img
                    width="100"
                    height="90"
                    [src]="p?.cartWithVariants?.variantImages[0].image"
                    alt=""
                  />
                  <div class="p-3">
                    <p class="light-dark small-text">
                      {{ p?.cartWithVariants?.sku }}
                    </p>
                    <p class="light-dark regular-font ">
                      {{ p?.cartWithVariants?.price | currency : "CAD" }}
                    </p>
                    <div class="input-group my-2">
                      <button
                        class="input-group-text px-3"
                        (click)="decrementQty(p)"
                      >
                        -
                      </button>
                      <input
                        [class.borderDanger]="p.error"
                        type="number"
                        min="0"
                        [(ngModel)]="p.qty"
                        readonly
                        class="border text-center p-1 input-number background-primary"
                        (change)="showUpdate = !showUpdate"
                      />
                      <button
                        class="input-group-text px-3"
                        (click)="incrementQty(p)"
                      >
                        +
                      </button>
                    </div>
                    <!-- <p
                    class="text-muted small-text attr"
                    *ngFor="
                      let item of p?.cartWithVariants?.variantWithAttrVariantMap
                    "
                  >
                    {{ item?.AttrVariantMapWithAttributes.name }} :
                    <ng-container
                      *ngIf="item?.AttrVariantMapWithAttributes?.type == 'color'"
                    >
                      <i
                        class="fa-solid fa-square"
                        [ngStyle]="{ 'background-color': item?.value }"
                      ></i
                    ></ng-container>
                    <ng-container
                      *ngIf="item?.AttrVariantMapWithAttributes?.type != 'color'"
                    >
                      {{ item?.value }}</ng-container
                    >
                  </p> -->
                  </div>
                </div>
                <div class="col-1 text-center my-auto">
                  <span
                    ><i
                      class="fa-regular fa-trash-can pointer"
                      (click)="deleteVariant(p.id)"
                    ></i
                  ></span>
                </div>
                <!-- <div
                class="col-1 col-md-1 col-lg-3 text-center light-dark small-text my-auto"
              >
                
              </div> -->
                <!-- <div
                  class="col-4 col-sm-2 col-md-2 col-lg-3 text-center my-auto"
                >
                  <input
                  type="number"
                  min="0"
                  [class.borderDanger]="p.error"
                  class="w-50 input-number background-primary"
                  [(ngModel)]="p.qty"
                  (change)="showUpdate = !showUpdate"
                />
                 
                </div> -->
                <!-- <div
                  class="col-2 col-md-1 col-lg-2 text-center light-dark small-text my-auto"
                >
                  <p class="py-auto">
                    {{ p?.cartWithVariants?.price * p?.qty | currency : "CAD" }}
                  </p>
                </div> -->
                <!-- <div class="col-1 col-md-1 col-lg-1 text-center my-auto">
                  <span
                    ><i
                      class="fa-regular fa-trash-can pointer"
                      (click)="deleteVariant(p.id)"
                    ></i
                  ></span>
                </div> -->
              </div>
            </div>
            <div class="col-2 d-none d-sm-none d-md-none d-lg-block border-end border-dark"></div>
          </div>

          <div class="row py-4">
            <div class="col-3 mb-3" *ngIf="showUpdate">
              <button class="btn btn-dark" (click)="updateAllCart()">
                Update
              </button>
            </div>
            <div class="col-12 col-lg-8 d-flex justify-content-center">
              <div class="w-50 ">
                <button class="btn btn-dark" (click)="navigateTo('/home')">
                  Continue shopping
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 px-3">
          <div class="card border-0">
            <div class="p-3">
              <div class="row mb-3">
                <div class="col-6 regular-text">
                  Total {{ carts?.length < 1 ? "item" : "items" }}
                </div>
                <div class="col-6 d-flex justify-content-end regular-weight">
                  {{ carts?.length }}
                </div>
              </div>
              <div class="row">
                <div class="col-6 regular-text">Subtotal</div>
                <div class="col-6 d-flex justify-content-end regular-weight">
                  {{ totalItemPrice | currency : "CAD" }}
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-6 regular-weight">Shipping</div>
                <div class="col-6 d-flex justify-content-end regular-weight">
                  {{ 7 | currency : 'CAD' }}
                </div>
              </div> -->
            </div>
            <div class="card-body mx-3 py-3 border-top border-dark">
              <div class="row">
                <div class="col-6 regular-text">
                  Total (tax incl.)
                </div>
                <div class="col-6 d-flex justify-content-end regular-weight">
                  {{ totalItemPrice | currency : "CAD" }}
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-12 description">
                  <p>Spend $168.50 more to get free shipping!</p>
                  <p class="regular-weight">
                    IQITFREEDELIVERYCOUNT - module, you can put own text in
                    configuration
                  </p>
                </div>
              </div> -->
            </div>
            <!-- <div class="row p-4 background-primary">
              <div class="col-2">
                <i class="fa-solid fa-tag"></i>
              </div>
              <div class="col-7">
                <p class="regular-weight">Promo Code</p>
              </div>
              <div class="col-3 d-flex justify-content-end">
                <p class="regular-weight">Add</p>
              </div>
            </div> -->
            <div class="row p-3">
              <div class="col-12">
                <button
                  class="btn btn-dark rounded-3 py-3 regular-weight"
                  (click)="checkout()"
                >
                  Proceed to checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
