*{
    padding: 0;
    margin: 0;
}
td {
    height: auto;
    vertical-align: middle;
    text-align: center;
  }
  .description{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  