* {
  padding: 0;
  margin: 0;
}
td {
  height: auto;
  vertical-align: middle;
  text-align: center;
}
.description {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  padding: 0.5rem;
  margin-top: 1rem;
}
.form-control,
.input-number {
  border: 0;
  border-radius: 0;
  padding: 0.5rem 1rem !important;
}
.form-control:focus,
.input-number:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.form-control:focus-visible,
.input-number:focus-visible {
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
}
.btn-dark,
.btn-light {
  width: 100% !important;
  padding: 0.5rem 0 !important;
  border-radius: 0 !important;
}
.btn:focus {
  box-shadow: none;
}
.btn:active {
  border: 0;
}
input:focus {
  box-shadow: none;
}
.background-primary {
  background-color: #f8f8f8;
}
.text-muted {
  color: #acaaa6 !important;
  font-weight: 400;
}
.regular-font {
  font-size: 0.9rem;
  font-weight: 400;
}
.small-text {
  font-size: 0.75rem;
  font-weight: 400;
}
.regular-weight {
  font-weight: 400;
}
.borderDanger {
  border: 1px solid #d13737;
}
@media (max-width: 575px) {
  .offSet {
    margin-left: 33.33333333% !important;
  }
}
