// .card {
//   width: 10.9rem;
// }
.logo-card {
  display: grid;
  place-content: center;
  height: 12.45vw;
  .img-fluid {
  }
}
.qr-label {
  margin-top: -1.4rem;
  .productCode {
    font-weight: bold;
    margin-right: 0.6rem;
    color: #7b3f04;
  }
  .saleRate {
    color: #e71d60;
    font-weight: bolder;
    font-size: 1.2rem;
  }
}
@media print {
  .pagebreak {
    page-break-before: always;
  } /* page-break-after works, as well */
  body {
    margin: 0;
  }
  .notPrint {
    display: none !important;
  }
  button,
  ::ng-deep .pc-header {
    display: none !important;
  }
  .pc-sidebar {
    display: none !important;
  }
  .pc-sidebar .navbar-wrapper {
    display: none !important;
  }
}
