<div class="container-fluid packbag-page">
  <div class="row justify-content-center">
    <div class="col-11 w-100">
      <div class="pack-img">
        <!-- <img class="img-fluid" src="../../../../../assets/images/packbag.jpg" alt=""> -->
        <div class="text-box">
          <p class="title">Our Timeless Classics</p>
          <p class="description">
            “There’s something so beautiful about a sari, that each time I try to pen it down, I’m lost for words. It’s a timeless classic. My wardrobe is adorned with my grand-mother’s silk Sarees, which I borrowed from my mum and never returned. Complete with a simple string of pearls or polkis or dressed up with a heavy choker, a Saree can be as versatile as we want it to be.”
          </p>
          <button class="btn">Collect your <strong>accessories</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>
