<div class="container-fluid pb-5">
  <div class="row justify-content-center">
    <div class="col-11">
      <!-- <p class="py-3 text-color-primary pointer">
        <span (click)="navigateTo('/')">Home</span> / Reset your password
      </p> -->
    </div>
    <div class="col-11 py-4">
      <h2>Set New Password</h2>
    </div>
    <div class="col-11 px-3 py-4 border">
      <!-- <p class="pb-2">
        Please enter the email address you used to register. You will receive a
        temporary link to reset your password.
      </p> -->
      <form [formGroup]="chnagePassForm" class="pb-3 border-bottom">
        <div class="row flex-column">
          <div class="col-12">
            <div class="row justify-content-center my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-center ">
                <label for="inputPassword6" class="col-form-label"
                  >New Password</label
                >
              </div>
              <div class="col-12 col-lg-4 ">
                <input
                  type="text"
                  class="background-primary form-control"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': f['password'].invalid && submitted
                  }"
                />
              
                <div class="mt-1">
                  <div class="text-danger mt-1 ms-1" *ngIf="f['password'].invalid && submitted">
                    {{ formError('password') }}
                  </div>
              </div>
              </div>
            </div>
            <div class="row justify-content-center my-3">
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-center ">
                <label for="inputPassword6" class="col-form-label"
                  >Confirm Password</label
                >
              </div>
              <div class="col-12 col-lg-4 ">
                <input
                  type="text"
                  class="background-primary form-control"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-invalid': f['confirmPassword'].invalid && submitted
                  }"
                />
               
                <div class="mt-1">
                  <div class="text-danger mt-1 ms-1" *ngIf="f['confirmPassword'].invalid && submitted">
                    {{ formError('confirmPassword') }}
                  </div>
                </div>
              </div>
            </div>
           
            <div class="row justify-content-center">
              <div
                class="col-6 d-flex justify-content-center col-lg-2 p-0"
              >
                <button class="btn btn-dark" (click)="submit()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row pt-3">
        <div class="col-12 d-flex">
          <p class="pointer">
            <i class="fa-solid fa-chevron-left"></i>
            Back to login
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
