// .m-top-custom{
//     margin-top: 6rem;
// }
// .m-bottom-custom{
//     margin-bottom: 3rem;
// }
// .h-100-custom-2{
//     background-color:#141746 ;
//     padding-bottom: 60px;
// }

.posi{
    position: absolute;
    max-width: 100%;
    padding: 0 15px;
}
.mt-custom{
    margin-top: 7.5rem;
}
.slider-cusotm img{
    height: 100vh;
}
.border-lgin{
    border-right: 2px solid #ddd;
}