<div
  class="row justify-content-between align-items-center pt-2 pagination-sm m-0"
>
  <div class="col-md-auto">
    <ngb-pagination
      [collectionSize]="collection"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="onChangePage(page)"
    >
      <ng-template ngbPaginationFirst> << </ng-template>
      <ng-template ngbPaginationLast> >> </ng-template>
      <ng-template ngbPaginationPrevious> < </ng-template>
      <ng-template ngbPaginationNext> > </ng-template>
      <ng-template ngbPaginationEllipsis> ... </ng-template>
      <ng-template ngbPaginationNumber class="custompage" let-page>
        {{ page }}
      </ng-template>
    </ngb-pagination>
  </div>
</div>
