* {
  margin: 0;
  padding: 0;
  
}
.container-fluid {
  .upper-row {
    justify-content: center;
    padding: 1rem;
    background: #010101;
    .ship-text {
      margin: auto 0;
      p {
        color: #fff;
        text-align: center;
        
      }
    }
    .icons-box {
      height: 100%;
      display: flex;
      justify-content: flex-end;

      .icons{
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            color: #fff;
            cursor: pointer;
        }
      }
    }
  }
}
.product-part{
  max-height: 35vh;
  min-height: 35vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
 .small-text{
  font-size: 0.75rem;
 }
 input{
  background-color: #f8f8f8;
  padding: 0.5rem;
  &:focus{
    border: 0;
    outline: 0;
  }
 }
}
.info-part{
  max-height: 52vh;
  min-height: 52vh;
  .description{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
.search{
  background-color: #e3e3e3;
}
input {
  background-color: #e3e3e3;
  &:focus{
    background-color: #e3e3e3;
  }
}
@media (max-width:992px){
  .container-fluid {
    .upper-row {
      .ship-text {
        p {
          text-align: start;
        }
      }
    }}
}