* {
  margin: 0;
  padding: 0;
}
.container-fluid {
  .upper-row {
    justify-content: center;
    padding: 1rem;
    background: #010101;
    .ship-text {
      margin: auto 0;
      p {
        color: #fff;
        text-align: center;
      }
    }
    .icons-box {
      height: 100%;
      display: flex;
      justify-content: flex-end;

      .icons{
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            color: #fff;
            cursor: pointer;
        }
      }
    }
  }
}
