* {
  padding: 0;
  margin: 0;
}

.password-input {
  display: flex;
  input {
    width: 95%;
  }
  .icon-box {
    width: 5%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.form-control,.input-number {
  border: 0;
  border-radius: 0;
  padding: 0.5rem 1rem !important;
}
.background-primary {
  background-color: #f8f8f8;
}
.form-control:focus,.input-number:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.form-control:focus-visible,.input-number:focus-visible {
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
}
.pointer{
  cursor: pointer;
}
.address-action{
  height: 75%;
  position: absolute;
  right: 0;
  top: 0;
}
.badge{
  background-color: #ededed;
  border-radius: 1rem;
  position: absolute;
  right: -2%;
  top: -10%;
  padding: 0.5rem;
}
.card{
  margin: 2rem;
    // width: 45%;
}
@media (max-width:992px){
  .address-column{
    padding-top: 2rem;
  }
}
@media (max-width: 992px) and (min-width: 475px) {
  .password-input {
    display: flex;
    input {
      width: 90%;
    }
    .icon-box {
      width: 10%;
    }
  }
}
@media (max-width: 475px) {
  .password-input {
    display: flex;
    input {
      width: 85%;
    }
    .icon-box {
      width: 15%;
    }
  }
}
