<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11">
      <p class="py-3 text-color-primary">
        <span class="pointer" (click)="navigateTo('/')">Home</span> /
        <span class="pointer">Template</span> /
        <span>Component C</span>
      </p>
    </div>
    <div class="col-10 py-4">
        <h1 class="text-center">Title</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, eligendi. Placeat, vel? Consequuntur ut deleniti reprehenderit aspernatur illum a ab ad similique voluptates laborum asperiores error aperiam, qui, quam alias quaerat unde nulla! Illo repellendus delectus exercitationem, itaque odio dolor unde soluta ea pariatur molestias tempore quaerat nihil. Dignissimos, accusamus?</p>
    </div>
    <div class="col-12 my-5 py-5 carousal-box">
      <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide>
          <div class="row justify-content-center">
            <div
              class="text-box col-10 col-md-10 col-lg-5 d-flex flex-column justify-content-center"
            >
              <h2>Title</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio,
                eum porro doloribus perferendis, corrupti architecto quibusdam
                eveniet officia autem quam rerum atque quae dicta cum.
              </p>
            </div>
            <div
              class="picsum-img-wrapper col-11 col-md-10 col-lg-5 d-flex justify-content-center"
            >
              <img
                class="img-fluid w-75"
                src="../../../../assets/images/store1.jpg"
                alt="Random first slide"
              />
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row justify-content-center">
            <div
              class="text-box col-10 col-md-10 col-lg-5 d-flex flex-column justify-content-center"
            >
              <h2>Title</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio,
                eum porro doloribus perferendis, corrupti architecto quibusdam
                eveniet officia autem quam rerum atque quae dicta cum.
              </p>
            </div>
            <div
              class="picsum-img-wrapper col-10 col-md-10 col-lg-5 d-flex justify-content-center"
            >
              <img
                class="img-fluid w-75"
                src="../../../../assets/images/store2.jpg"
                alt="Random second slide"
              />
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row justify-content-center">
            <div
              class="text-box col-10 col-md-10 col-lg-5 d-flex flex-column justify-content-center"
            >
              <h2>Title</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio,
                eum porro doloribus perferendis, corrupti architecto quibusdam
                eveniet officia autem quam rerum atque quae dicta cum.
              </p>
            </div>
            <div
              class="picsum-img-wrapper col-10 col-md-10 col-lg-5 d-flex justify-content-center"
            >
              <img
                class="img-fluid w-75"
                src="../../../../assets/images/store1.jpg"
                alt="Random third slide"
              />
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
